<div class="container-fluid no-padding" ng-controller="destinationController" data-spy="scroll">

    <div class="col-xs-12 schedule_page_heading destination-page-heading">
    <span class="page-header-name" ng-click="goBack();">
        <!--<img src="img/desktop/check-left-box.png"/> -->
        <i class="fa fa-angle-left"></i>&nbsp
        Destination {{currentIndex+1}} of {{totalDeliveryLength}}</span>
    </div>

    <div class="loader-wrapper" ng-show="loader">
        <img src="img/desktop/loadingImage.gif" class="loader-image"/>
    </div>

    <div class="col-xs-12 reservation_details" id="reservationDetails" ng-show="!loader">
        <div class="table-heading">
            <span class="heading">Reservation Details</span>
        </div>
        <div class="col-xs-12 reservation_box">
            <div class="col-sm-6 no-padding">
                <div class="col-xs-12 bottom_10">
                    <div class="col-xs-6 text-right">
                        <span class="schedule_label">Customer Name</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="schedule_value">{{destinationData.customerName}}</span>
                    </div>
                </div>
                <div class="col-xs-12 bottom_10">
                    <div class="col-xs-6 text-right">
                        <span class="schedule_label">Delivery/Pick Up</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="schedule_value">{{(destinationData.delivery==="Delivery")?"Delivery":"Pick up"}}</span>
                    </div>
                </div>

                <div class="col-xs-12 bottom_10" ng-show="destinationData.delivery==='Delivery'">
                    <div class="col-xs-6 text-right">
                        <span class="schedule_label">Departure Date</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="schedule_value">{{departureDate}}</span>
                    </div>
                </div>

                <div class="col-xs-12 bottom_10" ng-show="destinationData.delivery!=='Delivery'">
                    <div class="col-xs-6 text-right">
                        <span class="schedule_label">Return Date</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="schedule_value">{{returnDate}}</span>
                    </div>
                </div>

                <div class="col-xs-12 bottom_10">
                    <div class="col-xs-6 text-right">
                        <span class="schedule_label">Cases</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="schedule_value">{{destinationData.cases}}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 no-padding">
                <div class="col-xs-12 bottom_10">
                    <div class="col-xs-6 text-right">
                        <span class="schedule_label">Transaction Id</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="schedule_value">{{destinationData.bookfairId}}</span>
                    </div>
                </div>
                <div class="col-xs-12 bottom_10">
                    <div class="col-xs-6 text-right">
                        <span class="schedule_label">Transaction Name</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="schedule_value">{{destinationData.bookfairName}}</span>
                    </div>
                </div>
                <div class="col-xs-12 bottom_10">
                    <div class="col-xs-6 text-right">
                        <span class="schedule_label">Type</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="schedule_value">Book fair</span>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="col-xs-12 reserved_items" id="itemDetails" ng-show="!loader">
        <div class="table-heading">
            <span class="heading">Reserved Items</span>
        </div>
        <div class="col-xs-12 item_box">
        <div class="col-xs-12 col-sm-6 single-item-row" ng-repeat="product in destinationData.itemDetailsList track by $index">
            <div class="col-xs-3">{{product.itemId}}</div>
            <div class="col-xs-7 item-name-display">{{product.itemName}}</div>
            <div class="col-xs-2">{{product.reservedQuantity}}</div>
        </div>
        </div>
    </div>

    <div class="col-xs-12 shipping_address" id="shippingDetails" ng-show="!loader">
        <div class="table-heading">
            <span class="heading">Shipping Address</span>
        </div>
        <div class="col-xs-12 shipping_box">
            <div class="col-sm-6 no-padding">
                <div class="col-xs-12">
                    <span class="schedule_value">Shipping Address</span>
                </div>
                <div class="col-xs-12">
                    <span class="schedule_label">{{destinationData.customerAddress}}</span>
                </div>
            </div>
            <div class="col-sm-6 no-padding">
                <div class="col-xs-12">
                    <span class="schedule_value">Special Instructions</span>
                </div>
                <div class="col-xs-12">
                    <span class="schedule_label">{{destinationData.specialInstructions}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 contactDetails" id="contactDetails" ng-show="!loader && (destinationData.contactName!==null || destinationData.contactPhone!==null || destinationData.contactEmail!==null ||destinationData.altContactName!==null || destinationData.altContactPhone!==null || destinationData.altContactEmail!==null)">
        <div class="table-heading">
            <span class="heading">Contact</span>
        </div>
        <div class="col-xs-12 col-sm-6 contact-row" ng-show="destinationData.contactName!==null || destinationData.contactPhone!==null || destinationData.contactEmail!==null">
            <h5>Contact Details</h5>
            <div class="col-xs-offset-2 col-xs-10 contact-row-item" ng-show="destinationData.contactName!==null">
                <div class="col-xs-4">
                    <span class="schedule_label">Name</span>
                </div>
                <div class="col-xs-8">
                    <span class="schedule_value">{{destinationData.contactName}}</span>
                </div>
            </div>

            <div class="col-xs-offset-2 col-xs-10 contact-row-item contact-row-item-number" ng-show="destinationData.contactPhone!==null">
                <div class="col-xs-4">
                    <span class="schedule_label">Number</span>
                </div>
                <div class="col-xs-8">
                    <div class="col-xs-9 no-padding schedule_value"><a ng-href="tel:{{destinationData.contactPhone}}">{{destinationData.contactPhone}}</a></div>
                    <div class="col-xs-3 no-padding"><img src="img/mobile/TruckRouting App/call.png" class="callIcon"></div>

                </div>
            </div>

            <div class="col-xs-offset-2 col-xs-10 contact-row-item" ng-show="destinationData.contactEmail!==null">
                <div class="col-xs-4">
                    <span class="schedule_label">Email</span>
                </div>
                <div class="col-xs-8">
                    <span class="schedule_value">{{destinationData.contactEmail}}</span>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-6" ng-show="destinationData.altContactName!==null || destinationData.altContactPhone!==null || destinationData.altContactEmail!==null">
            <h5>Alternate Details</h5>
            <div class="col-xs-offset-2 col-xs-10 contact-row-item" ng-show="destinationData.altContactName!==null">
                <div class="col-xs-4">
                    <span class="schedule_label">Name</span>
                </div>
                <div class="col-xs-8">
                    <span class="schedule_value">{{destinationData.altContactName}}</span>
                </div>
            </div>

            <div class="col-xs-offset-2 col-xs-10 contact-row-item contact-row-item-number" ng-show="destinationData.altContactPhone!==null">
                <div class="col-xs-4">
                    <span class="schedule_label">Number</span>
                </div>
                <div class="col-xs-8">
                    <div class="col-xs-9 no-padding schedule_value"><a ng-href="tel:{{destinationData.altContactPhone}}">{{destinationData.altContactPhone}}</a></div>
                    <div class="col-xs-3 no-padding"><img src="img/mobile/TruckRouting App/call.png" class="callIcon"></div>

                </div>

            </div>

            <div class="col-xs-offset-2 col-xs-10 contact-row-item" ng-show="destinationData.altContactEmail!==null">
                <div class="col-xs-4">
                    <span class="schedule_label">Email</span>
                </div>
                <div class="col-xs-8">
                    <span class="schedule_value">{{destinationData.altContactEmail}}</span>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-12 image_details" id="imageDetails" ng-show="!loader && destinationData.imageList.length>0">
        <div class="table-heading">
            <span class="heading">Images</span>
        </div>
        
        <div class="col-xs-12 text-center image_box" id="image-box">
            <div class="col-xs-12 col-sm-6" ng-repeat="image in destinationData.imageList track by $index">
                <img class="img-responsive" ng-src="data:image/jpeg;base64,{{image.image}}">
            </div>
            <!--<div class="col-xs-12 col-sm-6">-->
                <!--<img src="img/desktop/Scholastic.png">-->
            <!--</div>-->
        </div>
    </div>

    <div class="stickey-button schedule_stickey_button green_button_div" ng-show="!loader && (destinationData.status==='Driver Accepted'||destinationData.status===undefined) && whichSchedule==='current' && (completeData.status==='Driver Accepted'||completeData.status==='Started')">
        <button type="button" class="btn btn-lg btn-success btn-block" ng-swipe-right="startDestination();" ><img class="swipe-arrow" src="img/mobile/TruckRouting App/Swipearrow.png"/>Swipe right to start</button>
    </div>

    <div class="stickey-button schedule_stickey_button green_button_div red_btn" ng-show="!loader && destinationData.status==='Ongoing'  && whichSchedule==='current'">
        <button type="button" class="btn btn-lg btn-danger btn-block" ng-swipe-right="endDestination();" ><img class="swipe-arrow" src="img/mobile/TruckRouting App/Swipearrow.png"/>Swipe right to end</button>
    </div>

    <!--Footer Sticky Navigation-->
    <div class="row footer-stickey visible-xs" ng-show="!loader">
        <div class="col-xs-12 no-padding">
            <ul class="list-group footer-sticky-nav text-center" id="bottom-menu">
                <li class="list-group-item" ng-class="showReservationDetails?'active':''" ng-click="tabClick('reservationDetails')">

                    <div class="img customer-img" ng-class="showReservationDetails?'active':''"></div>
                    <!--<div class="tab-text">Reservation Details</div>-->
                </li>
                <li class="list-group-item" ng-class="showReservedItems?'active':''" ng-click="tabClick('reservedItems')">
                    <div class="img payment-img" ng-class="showReservedItems?'active':''"></div>
                    <!--<div class="tab-text">Reserved Items</div>-->
                </li>
                <li class="list-group-item" ng-class="showShippingAddress?'active':''" ng-click="tabClick('shippingAddress')">
                    <div class="img remarks-img" ng-class="showShippingAddress?'active':''"></div>
                   <!-- <div class="tab-text">Shipping Address</div>-->
                </li>
                <li class="list-group-item" ng-class="showContactDetails?'active':''" ng-click="tabClick('contactDetails')" ng-show="(destinationData.contactName!==null || destinationData.contactPhone!==null || destinationData.contactEmail!==null ||destinationData.altContactName!==null || destinationData.altContactPhone!==null || destinationData.altContactEmail!==null)">
                    <div class="img vo_report-img" ng-class="showContactDetails?'active':''"></div>
                    <!--<div class="tab-text">Contacts</div>-->
                </li>
                <li class="list-group-item" ng-class="showImageDetails?'active':''" ng-click="tabClick('imageDetails')" ng-show="destinationData.imageList.length>0">
                    <div class="img cancellation-img" ng-class="showImageDetails?'active':''"></div>
                    <!--<div class="tab-text" >Images</div>-->
                </li>
            </ul>
        </div>
    </div>
</div>