<div class="container-fluid no-padding">
    <div class="support_header">
        <div class="col-xs-1 profile-icon">
            <img src="img/mobile/TruckRouting App/notification.png"/>
        </div>
        <div class="page-header-name profile-page-header-name">
            Notifications
        </div>
    </div>

    <div class="col-xs-12 no-padding request-details">
        <div class="col-xs-12 request-box no-padding">
            <div class="col-xs-12 request-list">
                <div class="col-xs-12">
                    <span class="pull-left">Pending Requests</span>
                    <span class="pull-right">9 hrs ago</span>
                </div>
                <div class="col-xs-12">
                    <span class="pull-left request-bold">Warehouse1</span>
                    <span class="pull-right request-bold">22 June</span>
                </div>
                <div class="col-xs-12">
                    <span class="request-bold">Truck A</span>
                </div>
                <div class="col-xs-12">

                    <span class="col-xs-4 no-padding text-left ">Delivery Area(s)</span>
                    <span class="col-xs-8 no-padding request-bold">XYZ,ZYX</span>

                </div>
            </div>
            <div class="col-xs-12 request-list">
                <div class="col-xs-12">
                    <span class="pull-left">Pending Requests</span>
                    <span class="pull-right">9 hrs ago</span>
                </div>
                <div class="col-xs-12">
                    <span class="pull-left request-bold">Warehouse1</span>
                    <span class="pull-right request-bold">22 June</span>
                </div>
                <div class="col-xs-12">
                    <span class="request-bold">Truck A</span>
                </div>
                <div class="col-xs-12">

                    <span class="col-xs-4 no-padding text-left ">Delivery Area(s)</span>
                    <span class="col-xs-8 no-padding request-bold">XYZ,ZYX</span>

                </div>
            </div>
            <div class="col-xs-12 request-list">
                <div class="col-xs-12">
                    <span class="pull-left">Pending Requests</span>
                    <span class="pull-right">9 hrs ago</span>
                </div>
                <div class="col-xs-12">
                    <span class="pull-left request-bold">Warehouse1</span>
                    <span class="pull-right request-bold">22 June</span>
                </div>
                <div class="col-xs-12">
                    <span class="request-bold">Truck A</span>
                </div>
                <div class="col-xs-12">

                    <span class="col-xs-4 no-padding text-left ">Delivery Area(s)</span>
                    <span class="col-xs-8 no-padding request-bold">XYZ,ZYX</span>

                </div>
            </div>
        </div>

    </div>
</div>