<div class="container-fluid no-padding" ng-controller="myScheduleController">
    <div class="col-xs-12 support_header pending_header">
        <div class="col-xs-2 profile-icon">
            <img src="img/mobile/TruckRouting App/myschedule-menu.png" class=""/>
        </div>
        <div class="page-header-name profile-page-header-name">
            My Schedules
        </div>
        <div class="col-xs-12 truck-name-box-pending"><span class="truck-span">{{truckDetails.truckName}} | {{truckDetails.license}}</span></div>
    </div>

    <div class="col-xs-12 no-padding">
        <div class="col-xs-6 tab-heading text-center" ng-class="showPast?'active':''" ng-click="tabClick('past')"><span>Past</span></div>
        <div class="col-xs-6 tab-heading text-center" ng-class="showUpcoming?'active':''" ng-click="tabClick('upcoming')"><span>Upcoming</span></div>
    </div>

    <div class="tab-body">
        <div class="col-xs-12 no-padding request-details">
            <div class="col-xs-12 request-box no-padding">
                <div class="col-xs-12 request-list" ng-repeat="request in requestDetails track by $index | limitTo : quantity" ng-click="goToSchedule($index)">
                    <div class="col-xs-12">
                        <span class="pull-left request-bold">{{request.locationName}}</span>
                        <span class="pull-right request-bold">{{request.date}}</span>
                    </div>
                    <!--<div class="col-xs-12">-->
                        <!--<span class="request-bold">{{request.truckName}}</span>-->
                    <!--</div>-->
                    <div class="col-xs-12">

                        <span class="col-xs-4 no-padding text-left ">Delivery Area(s)</span>
                        <span class="col-xs-8 no-padding request-bold">{{request.deliveryAreaList.join()}}</span>

                    </div>
                    <div class="col-xs-12">

                        <span class="col-xs-4 no-padding text-left ">Total cases to Deliver</span>
                        <span class="col-xs-8 no-padding request-bold">{{request.noOfDelivery}} Cases</span>

                    </div>
                    <div class="col-xs-12">

                        <span class="col-xs-4 no-padding text-left ">Total cases to Pick Up</span>
                        <span class="col-xs-8 no-padding request-bold">{{request.noOfPickUp}} Cases</span>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-12 no-padding my-schedule-button" ng-show="quantity<totalRequest">
        <button class="btn btn-lg btn-block" ng-click="loadMore()">Load More</button>
    </div>

</div>