<div class="container-fluid no-padding" ng-controller="profileController">
    <div class="support_header" ng-show="!showChangeTruck">
        <div class="col-xs-2 profile-icon">
            <img src="img/mobile/TruckRouting App/profile-menu.png"/>
        </div>
        <div class="page-header-name profile-page-header-name">
            My Profile
        </div>
    </div>

    <div class="col-xs-12 profile_details" ng-show="!showChangeTruck">
        <div class="table-heading">
            <span class="heading"> Details</span>
        </div>
        <div class="col-xs-12 profile_box">
            <div class="col-xs-12 bottom_10">
                <div class="col-xs-6 text-right">
                    <span class="schedule_label">User Id</span>
                </div>
                <div class="col-xs-6 text-left">
                    <span class="schedule_value">{{userData.user_ID}}</span>
                </div>
            </div>
            <div class="col-xs-12 bottom_10">
                <div class="col-xs-6 text-right">
                    <span class="schedule_label">User Name</span>
                </div>
                <div class="col-xs-6 text-left">
                    <span class="schedule_value">{{userData.name}}</span>
                </div>
            </div>
            <div class="col-xs-12 bottom_10">
                <div class="col-xs-6 text-right">
                    <span class="schedule_label">User Type</span>
                </div>
                <div class="col-xs-6 text-left">
                    <span class="schedule_value">Driver</span>
                </div>
            </div>
            <div class="col-xs-12 bottom_10">
                <div class="col-xs-6 text-right">
                    <span class="schedule_label">OCTA User</span>
                </div>
                <div class="col-xs-6 text-left">
                    <span class="schedule_value">{{userData.oktaFlag}}</span>
                </div>
            </div>
            <div class="col-xs-12 bottom_10">
                <div class="col-xs-6 text-right">
                    <span class="schedule_label">Email</span>
                </div>
                <div class="col-xs-6 text-left">
                    <span class="schedule_value">{{userData.user_Name}}</span>
                </div>
            </div>
            <div class="col-xs-12 bottom_10">
                <div class="col-xs-6 text-right">
                    <span class="schedule_label">Phone</span>
                </div>
                <div class="col-xs-6 text-left">
                    <span class="schedule_value">{{userData.phone}}</span>
                </div>
            </div>
            <div class="col-xs-12 bottom_10">
                <div class="col-xs-6 text-right">
                    <span class="schedule_label">Status</span>
                </div>
                <div class="col-xs-6 text-left">
                    <span class="schedule_value" ng-class="userData.isActiveFlag==='Active'?'status-active':'status-inactive'">{{userData.isActiveFlag}}</span>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-12 profile_details" ng-show="!showChangeTruck">
        <div class="table-heading">
            <span class="heading"> Managed Trucks</span>
        </div>
        <div class="col-xs-12 profile_box">
            <div class="col-xs-12 no-padding truck-box">
                <div class="col-xs-12 bottom_10">
                    <div class="col-xs-6 text-right">
                        <span class="schedule_label">Truck Name</span>
                    </div>
                    <div class="col-xs-6 text-left">
                        <span class="schedule_value">{{truckDetails.truckName}}</span>
                    </div>
                </div>
                <div class="col-xs-12 bottom_10">
                    <div class="col-xs-6 text-right">
                        <span class="schedule_label">Truck Liscense Plate</span>
                    </div>
                    <div class="col-xs-6 text-left">
                        <span class="schedule_value">{{truckDetails.license}}</span>
                    </div>
                </div>

                <div class="col-xs-12 bottom_10">
                    <div class="col-xs-6 text-right">
                        <span class="schedule_label"></span>
                    </div>
                    <div class="col-xs-6 text-left">
                        <span class="truckLink" ng-click="changeTruck();" >Change Truck</span><br>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="col-xs-12 profile_details" >
        <div class="table-heading">
            <span class="heading">Change Password</span>
        </div>
        <div class="col-xs-12 profile_box">
            <div class="col-xs-12 bottom_10 no-padding new-password">
                <div class="col-xs-12 text-left">
                    <span class="schedule_label">NEW PASSWORD</span>
                </div>
                <div class="col-xs-12">
                    <input type="password" name="newPassword" ng-change="checkPassword();" ng-model="newPassword" class="form-control"/>
                </div>
            </div>
            <div class="col-xs-12 bottom_10 no-padding confirm-password">
                <div class="col-xs-12 text-left">
                    <span class="schedule_label">CONFIRM PASSWORD</span>
                </div>
                <div class="col-xs-12">
                    <input type="password" name="confirmPassword" ng-model="confirmPassword" ng-blur="confirmPasswordCheck();" class="form-control"/>
                </div>
                <span class="errorMsg" ng-show="confirmPasswordError">New password and confirm password does not match.</span>
            </div>

            <div class="col-xs-12">
                <span class="text-left">A password must contain:</span>
            </div>
            <div class="col-xs-12 instruction_red">
                <span class="text-left caution">-at least 6 characters</span><br>
                <span class="text-left caution">-lowercase letter</span><br>
                <span class="text-left caution">-uppercase letter</span><br>
                <span class="text-left caution">-numbers</span><br>
                <span class="text-left caution">-special character</span>

            </div>

            <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-md primary-btn profile-save" ng-click="savePassword()">
                    <span>Save</span>
                </button>

                <button type="button" class="btn btn-md btn-cancel">
                    <span>Cancel</span>
                </button>
            </div>


        </div>
    </div>-->



</div>