<div class="container-fluid no-padding" ng-controller="scheduleController">
<div class="col-xs-12 schedule_page_heading" ng-show="userData.status==='Finalized'">
    <span class="page-header-name" ng-click="goBack()">
        <!--<img src="img/desktop/check-left-box.png"/> -->
        <i class="fa fa-angle-left" ng-show="!offline"></i>&nbsp
        Schedule for {{(userData.date!==null)?userData.date:userData.scheduleRange}}</span>
</div>



    <div class="col-xs-12 schedule-accepted-box fade in" ng-show="!showBlank && showAccepted">
        <span class="schedule-accepted-text"><img src="img/mobile/TruckRouting App/schedule-accepted.png"/> Schedule Accepted , Thank You</span>
    </div>
    <div class="col-xs-12 schedule_page_heading text-center schedule-id-div" ng-show="userData!==undefined && (userData.status==='Driver Accepted'||userData.status==='Started'||userData.status==='Completed')">
    <span class="page-header-name" ng-click="goBack()">
        <!--<img src="img/desktop/check-left-box.png"/> -->
        <i class="fa fa-angle-left pull-left" ng-show="!offline"></i>&nbsp
        {{userData.scheduleID}}</span>
    </div>


    <div class="loader-wrapper" ng-show="loader">
        <img src="img/desktop/loadingImage.gif" class="loader-image"/>
    </div>

<div class="col-xs-12 parent-details-box" ng-show="!showBlank && !loader">

    <!--Details box starts-->
    <div class="col-xs-12 details-box">
        <div class="col-xs-12 bottom_10">
            <div class="col-xs-6 text-right">
                <span class="schedule_label">Schedule Id</span>
            </div>
            <div class="col-xs-6">
                <span class="schedule_value">{{userData.scheduleID}}</span>
            </div>
        </div>
        <div class="col-xs-12 bottom_10">
            <div class="col-xs-6 text-right">
                <span class="schedule_label">Warehouse</span>
            </div>
            <div class="col-xs-6">
                <span class="schedule_value">{{userData.locationName}}</span>
            </div>
        </div>
        <div class="col-xs-12 bottom_10">
            <div class="col-xs-6 text-right">
                <span class="schedule_label">Driver</span>
            </div>
            <div class="col-xs-6">
                <!--<span class="schedule_value">{{userData.driver}}</span>-->
                <span class="schedule_value">Driver Name</span>
            </div>
        </div>
        <div class="col-xs-12 bottom_10">
            <div class="col-xs-6 text-right">
                <span class="schedule_label">Truck Name</span>
            </div>
            <div class="col-xs-6">
                <!--<span class="schedule_value">{{userData.truckName}}</span>-->
                <span class="schedule_value">{{truckDetails.truckName}}</span>
            </div>
        </div>
        <!--<div class="col-xs-12 bottom_10">
            <div class="col-xs-6 text-right">
                <span class="schedule_label">Departure Date</span>
            </div>
            <div class="col-xs-6">
                <span class="schedule_value">{{userData.departureDate}}</span>
            </div>
        </div>-->
        <div class="col-xs-12 bottom_10" ng-show="userData.date!==null && userData.date!==undefined">
            <div class="col-xs-6 text-right">
                <span class="schedule_label">Date</span>
            </div>
            <div class="col-xs-6">
                <span class="schedule_value">{{userData.date}}</span>
            </div>
        </div>
        <div class="col-xs-12 bottom_10">
            <div class="col-xs-6 text-right">
                <span class="schedule_label">Current Status</span>
            </div>
            <div class="col-xs-6">
                <span class="schedule_value">{{userData.status}}</span>
            </div>
        </div>
        <div class="col-xs-12 bottom_10">
            <div class="col-xs-6 text-right">
                <span class="schedule_label">Liscence Plate</span>
            </div>
            <div class="col-xs-6">
                <!--<span class="schedule_value">{{userData.licensePlate}}</span>-->
                <span class="schedule_value">{{truckDetails.license}}</span>
            </div>
        </div>
        <!--<div class="col-xs-12">
            <div class="col-xs-6 text-right">
                <span class="schedule_label">Return Date</span>
            </div>
            <div class="col-xs-6">
                <span class="schedule_value">{{userData.returnDate}}</span>
            </div>
        </div>-->

    </div>

    <!--Details box end-->


</div>

<!--Destination box starts-->
<div class="col-xs-12 destination_box" ng-show="!showBlank && !loader">
    <div class="table-heading">
        <span class="heading">Deliveries and Pick Ups</span>
    </div>

    <div class="col-xs-12 table-view" ng-class="(destination.status==='Completed'||userData.status==='Completed')?'transparent-background':'table-view'" ng-repeat="destination in userData.sequenceList track by $index" ng-click="startDelivery($index)">
        <div class="col-xs-1 table-index">{{$index+1}}</div>
        <div class="col-xs-6 customer-details">
            <span class="cust_name">{{destination.customerName}}</span><br>
            <span>{{destination.customerAddress}}</span>
        </div>
        <div class="col-xs-3">
            <span>{{(destination.delivery==="Delivery")?"Delivery":"Pick up"}} {{destination.cases}} Cases</span>
        </div>
        <div class="col-xs-2 text-center status_img" ng-hide="userData.status==='Finalized'">
            <img src="img/mobile/TruckRouting App/select-block-icon.png" width="29" ng-show="destination.status==='Completed' || userData.status==='Completed'">
            <img src="img/mobile/TruckRouting App/iconB.png" ng-show="destination.status==='Ongoing'">
            <img src="img/mobile/TruckRouting App/iconC.png" ng-show="(destination.status==='Driver Accepted'||destination.status===undefined || destination.status===null) && userData.status!=='Completed'">
        </div>
    </div>
</div>


    <div class="col-xs-12 green_button_div stc_btn" ng-show="!showBlank && !loader && (userData.status==='Finalized'||showButton)">
        <button type="button" class="btn btn-lg btn-success btn-block" ng-swipe-right="acceptSchedule();" ng-show="(whichSchedule==='current'||whichSchedule==='pending')&& userData.status==='Finalized'"><img class="swipe-arrow" src="img/mobile/TruckRouting App/Swipearrow.png"/>Swipe Right to accept</button>
        <button type="button" class="btn btn-lg btn-success btn-block" ng-swipe-right="acceptSchedule();" ng-show="(whichSchedule==='current')&& (userData.status==='Driver Accepted' && showButton)"><img class="swipe-arrow" src="img/mobile/TruckRouting App/Swipearrow.png"/>Swipe Right to start</button>
    </div>

    <div class="stickey-button delivery_checklist_button green_button_div red_btn" ng-show="!showBlank && !loader && !showButton && userData.status!=='Completed'">
        <button type="button" class="btn btn-lg btn-danger btn-block" ng-swipe-right="endSchedule();"><img class="swipe-arrow" src="img/mobile/TruckRouting App/Swipearrow.png"/> Swipe right to end</button>
    </div>

    <div class="col-xs-12 parent-details-box" ng-show="showBlank">
        <div class="col-xs-12 details-box text-center">
            <span>Currently no schedule are available. Please download pending schedule.</span>
        </div>
    </div>
</div>


