<div class="container-fluid no-padding" ng-controller="deliveryController">
    <div class="col-xs-12 schedule_page_heading">
    <span class="page-header-name" ui-sref="Destination">
        <!--<img src="img/desktop/check-left-box.png"/> -->
        <i class="fa fa-angle-left"></i>&nbsp
        Destination {{currentIndex+1}} of {{totalDeliveryLength}}</span>
    </div>

    <div class="col-xs-12 delivery_box">
        <h5>Have you delivered the reserved items?</h5>

        <div class="col-xs-12 no-padding product_details">
            <div class="col-xs-12 no-padding single-product-row" ng-repeat="item in destinationData.itemDetailsList track by $index">
                <div class="col-xs-12 no-padding prod-row">
                    <div class="col-xs-3 no-padding delivery-label">{{item.itemId}}</div>
                    <div class="col-xs-5 no-padding delivery-label item-name-display">{{item.itemName}}</div>
                    <div class="col-xs-2 no-padding delivery-value"><b>{{item.reservedQuantity}}</b></div>
                    <div class="col-xs-2 no-padding text-right">
                        <label class="control control--checkbox">
                            <input type="checkbox" ng-model="item.deliveryCheck" ng-change="checkItem(item,$index)"/>
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                </div>
                <!--<div class="col-xs-12 no-padding text-row form-control" ng-show="item.deliveryCheck">
                    <span class="col-xs-12 text-code">{{item.codeArray.join()}}</span>
                    <input type="text" class="text-code" ng-model="item.codeArray"/></div>-->
            </div>

        </div>
    </div>

    <div class="col-xs-12 remarks_area">
        <h5>Would you like to add some notes or photos about the delivery that could help you or other drivers in the future?</h5>

        <div class="col-xs-12 no-padding">
            <div class="col-xs-9 no-padding">
                <textarea rows="8" cols="20" ng-model="deliveryInstruction"></textarea>

            </div>
            <div class="col-xs-3 camera_section">
                <div class="col-xs-12 margin-26">
                    <img src="img/mobile/TruckRouting App/take-photo.png" ng-click="takePhoto()"/>
                </div>
                <div class="col-xs-12">
                    <img src="img/mobile/TruckRouting App/add-picture.png" ng-click="getPicture()"/>
                </div>


            </div>
        </div>
    </div>

    <div class="col-xs-12 image-area" id="image-area">

        <!--<img  src=""/>-->

    </div>

    <div class="stickey-button delivery_checklist_button green_button_div red_btn">
        <button type="button" class="btn btn-lg btn-danger btn-block" ng-swipe-right="confirmDestination();" ><img class="swipe-arrow" src="img/mobile/TruckRouting App/Swipearrow.png"/> Swipe right to confirm</button>
    </div>
</div>