<div class="container-fluid no-padding">
    <div class="settings-header page-header-name">
        <span>Settings</span>
    </div>

    <div class="col-xs-12 settings-body">
        <div class="col-xs-12 no-padding settings-list">
            <div class="pull-left settings-label"><span>Vibrate On Touch</span></div>
            <div class="pull-right">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch"
                           class="onoffswitch-checkbox" id="myonoffswitch1">
                    <label class="onoffswitch-label" for="myonoffswitch1">
                        <span class="onoffswitch-inner"></span> <span
                            class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-12 no-padding settings-list">
            <div class="pull-left settings-label"><span>Vibrate On Incoming Request</span></div>
            <div class="pull-right">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch"
                           class="onoffswitch-checkbox" id="myonoffswitch2">
                    <label class="onoffswitch-label" for="myonoffswitch2">
                        <span class="onoffswitch-inner"></span> <span
                            class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-12 no-padding settings-list">
            <div class="pull-left settings-label"><span>Stay Awake (Screen will never sleep)</span></div>
            <div class="pull-right">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch"
                           class="onoffswitch-checkbox" id="myonoffswitch3">
                    <label class="onoffswitch-label" for="myonoffswitch3">
                        <span class="onoffswitch-inner"></span> <span
                            class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 no-padding settings-link">
        <div class="col-xs-12 link-item">
                <span>Choose custom ringtone for incoming requests</span>
        </div>
        <div class="col-xs-12 link-item">
            <span>Clear Past schedule history</span>
        </div>

    </div>

</div>