<div class="config-modal">
    <div class="modal-header">
        <div class="col-xs-3 pull-left" ng-click="showHelp();" ng-hide="helpDiv">
            <img src="img/mobile/TruckRouting App/help-btn-icn.png" class="pull-left"/>
        </div>
        <div class="col-xs-offset-6 col-xs-3 pull-right" class="pull-right" ng-click="closeModal();">
            <img src="img/mobile/TruckRouting App/close.png"/>
        </div>
    </div>

    <div class="modal-body" ng-show="firstDiv">
        <div class="">
            <div class="col-xs-12 modal-img help-img text-center" >
                <img src="img/mobile/TruckRouting App/EFTPOS-title-icon.png" class=""/>

                <div class="col-xs-12 text-center delivery-code-modal-text"><span>{{product.reservedQuantity}} EFTPOS Delivered</span></div>

            </div>
        </div>
        <div class="container-fluid bd-example-row modal_container">
                <button type="button" class="btn btn-lg btn-primary modal-btn" ng-click="manuallyEnterCode();"><img src="img/mobile/TruckRouting App/icon12.png" class="btn-icon"/>Manually enter the code </button>
        </div>

        <div class="col-xs-12 text-center modal-foot-link" ng-show="!reasonEntry">
            <a ng-click="enterReason()">
                <span>I can't manually enter the code </span><br>
                <span>or scan the barcode.</span>
            </a>

        </div>

    </div>

    <div class="modal-body help-div" ng-show="helpDiv">
        <div class="">
            <div class="col-xs-12 modal-img help-img" >
                <div class="col-xs-4"></div>
                <div class="col-xs-4 text-center">
                    <img class="modalSuccessTick" src="img/mobile/TruckRouting App/Help-title-icon.png"/>
                </div>
                <div class="col-xs-4"></div>

                <div class="col-xs-12 text-center help_text_heading"><span>Help</span></div>

            </div>
        </div>
        <div class="container-fluid bd-example-row help_container">
            <div class="col-xs-12">
                <span class="help_value">1.Scan the barcode:</span>
            </div>
            <div class="col-xs-12 help_txt">
                <span class="help_label">
                    Barcode for the EFTPOS is located at the backside of the device. Select scan barcode and point your camera
                    towards the barcode of the EFTPOS machine until your app recognises it.
                </span>
            </div>

            <div class="col-xs-12">
                <span class="help_value">2. Manually enter the code:</span>
            </div>
            <div class="col-xs-12 help_txt">
                <span class="help_label">
                    Manually type in the code of the eftpos machine. The code is located just under the barcode
                    at the backside of the eftpos device.
                </span>
            </div>

            <div class="col-xs-12">
                <span class="help_value">Tip</span>
            </div>
            <div class="col-xs-12">
                <span class="help_label">
                    Tap the torch icon to enable the flashlight in case it is hard to scan/read the Code of the eftpos machine.
                </span>
            </div>


        </div>

    </div>

    <div class="modal-body code-entry-div" ng-show="codeEntry && !reasonEntry">

        <div class="">
            <div class="col-xs-12 modal-img help-img text-center" >

                    <img class="modalSuccessTick" src="img/mobile/TruckRouting App/EFTPOS-title-icon.png"/>


                <div class="col-xs-12 text-center delivery-code-modal-text">
                    <span ng-show="!reasonEntry">Enter EFTPOS {{itemIndex+1}} Code</span>

                </div>

            </div>
            <div class="container-fluid bd-example-row modal_container">
                <div class="col-xs-12" ng-show="!reasonEntry">

                    <div class="input-group input-code-div">
                        <input type="text" class="form-control input-code" ng-model="manualCode" placeholder="Code"/>
                            <span class="input-group-btn no-padding">
                                <button class="btn code-button" type="button" ng-click="codeValidate(manualCode);"><img src="img/mobile/TruckRouting App/icon31.png"/></button>
                             </span>
                    </div><!-- /input-group -->

                    <div class="col-xs-12 text-center code-title">
                        <span>EFTPOS {{itemIndex+1}} Of {{product.reservedQuantity}}</span>
                    </div>

                </div>

                <div class="col-xs-12 text-center modal-foot-link" ng-show="!reasonEntry">
                    <a ng-click="enterReason()">
                        <span>I can't manually enter the code </span><br>
                        <span>or scan the barcode.</span>
                    </a>

                </div>


            </div>
        </div>

    </div>

    <div class="modal-body code-entry-div" ng-show="reasonEntry">

        <div class="">
            <div class="col-xs-12 modal-img help-img text-center" >

                <img class="modalSuccessTick" src="img/mobile/TruckRouting App/EFTPOS-title-icon.png"/>


                <div class="col-xs-12 text-center delivery-code-modal-text">
                    <span ng-show="reasonEntry">Can't scan or enter the code manually?</span>
                </div>

            </div>
            <div class="container-fluid bd-example-row modal_container">

                <div class="col-xs-12 no-padding textArea-block text-left">
                    <span class="col-xs-12 code-failure">What Happened</span>
                    <div class="col-xs-12">
                        <textarea class="help-textarea" ng-class="errorBarcodeCount?'error-block':'' " rows="6" cols="36" placeholder="Please tell us why you are unable to scan or enter the machine code." ng-model="eftposBarcodeFailureReason"></textarea>
                    </div>

                </div>

                <div class="col-xs-12 no-padding text-left">
                    <span class="col-xs-12 custom-label">To how many eftpos machine does this apply</span>
                    <div class="col-xs-12">
                        <select class="count-dropdown" ng-model="eftposBarcodeFailureCount" ng-class="errorBarcodeCount?'error-block':'' ">
                            <option value="">Select</option>
                            <option ng-repeat="count in numArray track by $index" ng-value="count">{{count}}</option>
                            <!--<option value="1">1</option>-->
                            <!--<option value="2">2</option>-->
                        </select>

                    </div>

                </div>

                <div class="col-xs-12 no-padding text-center">
                    <button type="button" class="btn btn-lg btn-primary modal-btn next-btn" ng-click="failureResolved();">Next</button>
                </div>




            </div>
        </div>

    </div>

    <div class="modal-body one-machine-confirmed" ng-show="singleConfirmation">
        <div class="">
            <div class="col-xs-12 modal-img success-icon text-center" >
                <img class="modalSuccessTick" src="img/mobile/TruckRouting App/successful-notify.png"/>
            </div>
            <div class="container-fluid bd-example-row modal_container">

                <div class="issue-resolved-text-box text-center">
                    <div class="issue-resolved-text">EFT {{itemIndex}} confirmed</div>

                    <div class="issue-resolved-text">Please proceed with next machine.</div>
                </div>


                <div class="issue-resolved-btn">

                    <button type="button" class="btn btn-lg btn-primary modal-btn" ng-click="nextMachine();"><img src="img/mobile/TruckRouting App/icon12.png" class="btn-icon"/>Manually enter the code </button>

                </div>

            </div>
        </div>
    </div>

    <div class="modal-body" ng-show="issueResolved">
        <div class="">
            <div class="col-xs-12 modal-img success-icon text-center" >
                    <img class="modalSuccessTick" src="img/mobile/TruckRouting App/successful-notify.png"/>
            </div>
            <div class="container-fluid bd-example-row modal_container">

                <div class="issue-resolved-text-box text-center">
                    <div class="issue-resolved-text">Issue Resolved</div>

                    <div class="issue-resolved-text">Please proceed with next machine.</div>
                </div>


                <div class="issue-resolved-btn">

                    <button type="button" class="btn btn-lg btn-primary modal-btn" ng-click="nextProdMachine();"><img src="img/mobile/TruckRouting App/icon12.png" class="btn-icon"/>Manually enter the code </button>

                </div>

            </div>
        </div>

    </div>
</div>