<div class="mainContent" ng-controller="loginController">
	<div class="container-fluid no-padding">
		<div class="row">
			<div class="">
				<div class="col-xs-12 col-sm-8">
					<div class="top-banner">
						<!-- <img class="visible-xs" src="../resources/image/mobile/image-BG.png"> -->
						<span></span>
					</div>
					<div class="bottom-banner" style="display: none;">
						<span></span>
					</div>
				</div>
				<form class="login-form" name="login" novalidate ng-submit="loginSubmit(login.$valid)">
					<div class="col-xs-12 col-sm-4 row login-content">
						<div class="logo-div hidden-xs">
							<img src="img/desktop/logo.png"
								 class="center-block logo-img img-responsive">
						</div>
						<div class="login-box">
							<div class="col-xs-12 sub-header">Login</div>
							<!--<div class="col-xs-12 login-error-box" ng-show="loginError">-->
								<!--<span>{{(loginErrorMessage!==null)?loginErrorMessage : 'Please Check the credentials and try again'}}</span>-->
							<!--</div>-->
							<div class="error-login-bar col-xs-12" ng-show="loginError">
                              <span class="error-login-heading">
                                 <p>{{(loginErrorMessage!==null)?loginErrorMessage : 'Please Check the credentials and try again'}}</p>
                              </span>
							</div>

							<div class="form-group">
								<label for="userName" class="col-xs-12 col-sm-12 custom-label">E-MAIL</label>
								<div class="col-xs-12 col-sm-12 buttonToolbar">
									<input type="email" id="userName" name="inputUsername"
										   class="form-control" title="Please enter your Username"
										   placeholder="Username" ng-model="inputUsername" autofocus required/>
									<div ng-show="login.$submitted || login.inputUsername.$touched">
										<p
												ng-hide="!login.inputUsername.$error.required"
												class="help-block">Email is required.</p>
										<p
												ng-hide="!login.inputUsername.$error.email"
												class="help-block">Email is not valid.</p>
									</div>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error' : (login.inputPassword.$error.required) && (login.inputPassword.$touched || login.$submitted)}">
								<label for="password" class="col-xs-12 col-sm-12 custom-label">PASSWORD</label>
								<div class="col-xs-12 col-sm-12 buttonToolbar">
									<input type="password" id="password" name="inputPassword"
										   class="form-control" title="Please enter your Password"
										   placeholder="Password" autofocus required ng-model="inputPassword" />

									<div ng-show="login.$submitted || login.inputPassword.$touched">
										<p
												ng-hide="!login.inputPassword.$error.required"
												class="help-block">Password is required.</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12">
								<div class="checkbox cust-chkbox">
									<label class="pull-left custom-label"><input
											id="rememberMe" type="checkbox" ng-model="rememberMe" value="Remember Me"><span><span></span></span>Remember
										Me</label>
								</div>
									<!--<span class="pull-right" ng-click="showForgotPassword()">-->
									<!--<a class="link">Forgot Password?</a></span>-->
							</div>
							<div class="col-xs-12 button-container">
								<button type="submit" class="btn btn-md primary-btn pull-right" ng-class="loginError?'button-fade':''">
									<span ng-show="showText">Sign In</span>
									<img src="img/desktop/loadingImage.gif" class="login-loader" ng-show="!showText"/>
								</button>
							</div>
							<!--<div class="col-xs-11 col-xs-offset-1 col-sm-offset-0 col-sm-12">-->
									<!--<span class="pull-left custom-label">Have a Scholastic-->
										<!--Account?<span>-->
										<!--<a class="link">SIGN IN HERE</a></span></span>-->
							<!--</div>-->
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>