<div class="container-fluid no-padding" ng-controller="pendingRequestsController">
    <div class="support_header pending_header">
        <div class="col-xs-1 profile-icon">
            <img src="img/mobile/TruckRouting App/pending-request-menu.png"/>
        </div>
        <div class="page-header-name profile-page-header-name">
            Pending Requests
        </div>
        <div class="col-xs-12 truck-name-box-pending"><span class="truck-span">{{truckDetails.truckName}} | {{truckDetails.license}}</span></div>
    </div>

    <div class="loader-wrapper" ng-show="loader">
        <img src="img/desktop/loadingImage.gif" class="loader-image"/>
    </div>

    <div class="col-xs-12 no-padding request-details">
        <div class="col-xs-12 request-box no-padding">
            <div class="col-xs-12 request-list" ng-repeat="request in requestDetails track by $index" ng-click="goToSchedule('pending',$index)">
                <div class="col-xs-12">
                    <span class="pull-left request-bold">{{request.locationName}}</span>
                    <span class="pull-right request-bold">{{request.date}}</span>
                </div>
                <!--<div class="col-xs-12">-->
                    <!--<span class="request-bold">{{request.schedule[0].truckName}}</span>-->
                <!--</div>-->
                <div class="col-xs-12">

                        <span class="col-xs-4 no-padding text-left delivery-area-text">Delivery Area(s)</span>
                        <span class="col-xs-8 no-padding request-bold">:{{request.deliveryAreaList.join()}}</span>

                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-12 no-padding request-details" ng-show="requestDetails===null||requestDetails===undefined||requestDetails.length===0">
        <div class="col-xs-12 details-box text-center">
            <span>Currently no schedule are available to accept</span>
        </div>
    </div>

    <div class="col-xs-12 green_button_div stc_btn pending_btn" ng-show="requestDetails!==null && requestDetails.length>0">
        <div class="accept-right" ng-swipe-right="acceptSchedule();"><img class="swipe-arrow" src="img/mobile/TruckRouting App/Swipearrow.png"/>

            <div class="swipe-text">Swipe Right to accept all pending requests</div></div>
    </div>

</div>