<nav class="navbar navbar-default" ng-controller="headerController">
    <div class="">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id="navbar-header">

                <button type="button"
                        class="navbar-toggle collapsed pull-left humberger-button no-margin"
                        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                    <!--  <span class="icon-bar"></span>
                    <span class="icon-bar"></span> -->
                </button>


                 <a class="navbar-brand schol_logo"> <img
                        class="brand-logo hidden-xs"
                        src="img/desktop/Scholastic_Desktop.png"> <img
                        class="brand-logo visible-xs"
                        src="img/mobile/Scholastic-logo.png">
                </a>

                        <!--<div class="notificationWrap dropdown"  ng-show="!offline">-->
                            <!--<img src="img/mobile/TruckRouting App/notification.png" class="notification dropdown-toggle" data-toggle="dropdown" id="menu1">-->
                            <!--<span class="notify-badge">1</span>-->
                            <!--<ul class="dropdown-menu notification-dropdown list-group" role="menu" aria-labelledby="menu1">-->
                                <!--<li class="list-group-item notification-header" ng-click="showNotification();">Notifications</li>-->
                                <!--<li class="list-group-item" ng-click="showNotification();">-->
                                    <!--<div class="col-xs-12 notification-title">Pending Request - Schedule 21 June</div>-->
                                    <!--<div class="col-xs-12 time-pending">9 hrs ago</div>-->
                                <!--</li>-->
                                <!--<li class="list-group-item" ng-click="showNotification();">-->
                                    <!--<div class="col-xs-12 notification-title">Pending Request - Schedule 21 June</div>-->
                                    <!--<div class="col-xs-12 time-pending">9 hrs ago</div>-->
                                <!--</li>-->
                                <!--<li class="list-group-item see-all-li"><a ng-click="showNotification();">See All</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <a ng-show="offline">
                            <img src="img/mobile/TruckRouting App/offline_mobile_icn.png" class="offline">
                        </a>







            </div>

        </div>
        <div class="main_nav">
            <div class="collapse navbar-collapse navbar-up navbar-common"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active">
                        <a  data-toggle="collapse" data-target=".navbar-collapse.in" class="collapsed" ng-show="!offline" ng-click="linkClicked('dashboard');" id="link-dashboard"><span class="menu-span-icon"><img src="img/mobile/TruckRouting App/dashboard-menu.png"/></span>Dashboard</a>
                        <a  data-toggle="collapse" data-target=".navbar-collapse.in" class="collapsed" ng-show="!offline" ng-click="linkClicked('mySchedule');" id="link-myschedule"><span class="menu-span-icon"><img src="img/mobile/TruckRouting App/myschedule-menu.png"/></span>My Schedules</a>
                        <a  data-toggle="collapse" data-target=".navbar-collapse.in" class="collapsed" ng-show="!offline" ng-click="linkClicked('requests')" id="link-requests"><span class="menu-span-icon"><img src="img/mobile/TruckRouting App/pending-request-menu.png"/></span>Pending Requests<span class="notify-pending-request" ng-hide="pendingCount===null|| pendingCount===undefined|| pendingCount===0">{{pendingCount}}</span></a>
                        <a  data-toggle="collapse" data-target=".navbar-collapse.in" class="collapsed" ng-click="linkClicked('profile')" id="link-profile"><span class="menu-span-icon" ><img src="img/mobile/TruckRouting App/user.png"/></span>Profile<span class="user-data"> {{userName}}</span> <!--<span class="user-data collapsed" data-toggle="collapse" data-target=".navbar-collapse.in">John Doe</span>--></a>
                        <a  data-toggle="collapse" data-target=".navbar-collapse.in" class="collapsed" ng-click="linkClicked('support');" id="link-support"><span class="menu-span-icon" ><img src="img/mobile/TruckRouting App/support-menu.png"/></span>Support</a>
                        <!--<a  data-toggle="collapse" data-target=".navbar-collapse.in" class="collapsed" ng-click="linkClicked('settings')"><span class="menu-span-icon"><img src="img/mobile/TruckRouting App/settings-menu.png"/></span>Settings</a>-->
                        <a  data-toggle="collapse" data-target=".navbar-collapse.in" class="collapsed" ng-click="linkClicked('logout');"><span class="menu-span-icon"><img src="img/mobile/TruckRouting App/logout-menu.png"/></span>Logout</a>
                    </li>
                    <!--<li ui-sref-active="active"><a ng-click="logout()" data-toggle="collapse" data-target=".navbar-collapse.in" class="collapsed">Logout</a></li>
                    <li ui-sref-active="active"><a ui-sref="myProfile">Profile <span class="user-data collapsed" data-toggle="collapse" data-target=".navbar-collapse.in">CC1234, Adrita Mukherjee</span></a></li>-->
                </ul>


                <div class="overlay collapsed" data-toggle="collapse"
                     data-target=".navbar-collapse.in"></div>
            </div>

        </div>
    </div>
</nav>

