<nav class="navbar navbar-default navbar-login">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#"><img src="img/desktop/Scholastic.png"></a>
        </div>
    </div>
</nav>
<div class="logo-div visible-xs">
    <img src="img/desktop/logo.png"
         class="center-block img-responsive">
</div>