<div class= "footer-container ">
    <div class="text-center row">
        <div class="col-xs-12">
            <a class="footer_hyper">PRIVACY POLICY</a> ● <a class="footer_hyper">Terms of Use ●</a> TM &#174; &#38; &copy;  Scholastic Inc. All Rights Reserved.</div>
    </div>
</div>