<div class="container-fluid no-padding" ng-controller="dashboardController">

    <div class="loader-wrapper" ng-show="loader">
        <img src="img/desktop/loadingImage.gif" class="loader-image"/>
    </div>

    <div class="alert_box col-xs-12" ng-click="goToPendingRequest();" ng-show="!loader && dashboardData.nextTripCount>0"><span class="col-xs-12"><img src="img/mobile/TruckRouting App/notification-top-strip.png"/> &nbsp; {{pendingCount}} Pending Request</span></div>
    <div class="truck-name-box col-xs-12"><span class="pull-right schedule_value">{{truckDetails.truckName}} | {{truckDetails.license}}</span></div>

    <div class="col-xs-12 dashboard_row border_bottom" ng-click="goToSchedule('current');">
            <div class="col-xs-5 text-left first-row-image row_item">
                <img src="img/mobile/TruckRouting App/icon13.png" alt="clock"/>
            </div>
            <div class="col-xs-5 text-right value-right first-dashboard-row row_item first-row-text">
                <div class="col-xs-12 dashboard_trip_heading"><span>{{(dashboardData.nextTripCount>0)?'Your Next Trip Start In':'No Next Trip'}}</span></div>
                <div class="col-xs-12 dashboard_trip_value"><span>{{(dashboardData.nextTripCount>0)?dashboardData.timeToNextTrip:'Available'}}</span></div>
            </div>
            <div class="col-xs-2 row_item text-right first-row-icon">
               <!-- <img src="img/mobile/TruckRouting App/backpage_link_arrow.png"/>-->
                <i class="glyphicon glyphicon-chevron-right" ng-hide="dashboardData.nextTripCount===null|| dashboardData.nextTripCount===undefined|| dashboardData.nextTripCount===0"></i>
            </div>

    </div>

    <div class="col-xs-12 dashboard_row border_bottom" ng-click="goToMySchedule('upcoming');">
        <div class="col-xs-5 row_item text-left second-dashboard-row value-left second-row-text">
            <div class="col-xs-12 dashboard_trip_heading"><span>Your Have {{dashboardData.noOfConfUpcomingTrip}} More Upcoming Trips</span></div>
            <div class="col-xs-12 dashboard_trip_value"><span>Confirmed</span></div>
        </div>
        <div class="col-xs-5 row_item text-right image-right second-row-image">
            <img src="img/mobile/TruckRouting App/confirmed-trip.png"/>
        </div>
        <div class="col-xs-2 row_item text-right first-row-icon">
            <!--<img src="img/mobile/TruckRouting App/backpage_link_arrow.png"/>-->
            <i class="glyphicon glyphicon-chevron-right"></i>
        </div>

    </div>

    <div class="col-xs-12 dashboard_row third_row" ng-click="goToMySchedule('past');">
        <div class="col-xs-5 text-left row_item image-left third-row-image">
            <img src="img/mobile/TruckRouting App/completed-trip.png" alt="clock"/>
        </div>
        <div class="col-xs-5 text-right third-dashboard-row row_item value-right third-row-text">
            <div class="col-xs-12 dashboard_trip_heading"><span>In The Past Month You Have Completed</span></div>
            <div class="col-xs-12 dashboard_trip_value"><span>{{dashboardData.totalPastMonthDelivery}} Deliveries</span></div>
            <div class="col-xs-12 dashboard_trip_value"><span>{{dashboardData.totalPastMonthPickup}} Pick Ups</span></div>
            <!--<div class="col-xs-12 dashboard_trip_value"><span>3215 Kilometers</span></div>-->
        </div>
        <div class="col-xs-2 row_item text-right third-row-icon">
            <!--<img src="img/mobile/TruckRouting App/backpage_link_arrow.png"/>-->
            <i class="glyphicon glyphicon-chevron-right"></i>
        </div>

    </div>

</div>