<div class="container-fluid no-padding" ng-controller="truckController">
    <div class="col-xs-12 lisence-parent">
        <h3 class="text-center">Connect Your Truck</h3>
        <p class="text-center">Please Enter Your Truck's License Plate Number To Continue.</p>

        <div class="col-xs-12 lisence-box">

            <div class="text-center col-xs-12 no-padding">
                <input type="text"
                       class="form-control lisence-input" ng-model="liscensePlate" autofocus required/>
            </div>


            <div class="col-xs-12 instruction_truck" ng-show="offline"><img src="img/mobile/TruckRouting App/error-alert-title-icn.png"/>You must be connected to the internet to continue</div>
            <div class="col-xs-12 instruction_truck" ng-show="sessionBlock"><img src="img/mobile/TruckRouting App/error-alert-title-icn.png"/>Currently there is an active session asscoiated with this truck</div>
            <div class="col-xs-12 instruction_truck" ng-show="wrongLicense"><img src="img/mobile/TruckRouting App/error-alert-title-icn.png"/>Please check the license plate number and try again</div>
            <div class="col-xs-12 no-padding text-center">
                <button type="button" class="btn btn-lg modal-btn lisence-button" ng-click="submitLiscensePlate();">Continue </button>
            </div>

        </div>
    </div>
</div>