body{
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    overflow-x:hidden;
    font-family: 'Open Sans', sans-serif;
}
a,
button{
	cursor:pointer;
}
/*-------- Header Start ---------*/

 ul.manage-submenu{
	display: none;
    position: absolute;
    top: 33px;
    right: 227px;
    cursor: default;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #ccc;
    padding: 0;
    margin: 17px 0 0 0;
    z-index: 1;
}
 ul.manage-submenu li a {
    padding: 9px;
    margin: 0px auto;
    width:100%;
    float: left;
}
 ul.manage-submenu li a:hover {
    background: #506788;
}

 ul.manage-submenu li:hover a {
    color: #ffffff;
    text-decoration:none;
}
.more_links-manage-profile{
	padding: 14px;
    margin-right: 6px;
    position: relative;
    cursor: pointer;
    font-size: 12px;
}
.profile-details-dropdown.collapsed{
	background-color: #ffffff;;
}
.profile-details-dropdown{
	background-color: #e0e6ef;
}
div.more_links-manage-profile:hover {
    background: #e0e6ef;
}
.page-header-name{
	font-size: 22px;
    font-weight: 700;
    color: #4d5f79;
    margin: 0px 12px;
    vertical-align: middle;
    border-right: 1px solid gray;
    padding-right: 28px;
    padding: 6px 28px 6px 0px;
}
.page-header-container
{
	margin-top:30px;
}
.brand-logo{
	/* height: 39px; */
    width: auto;
}
div.more_links {
    height: 35px;
    border-radius: 4px;
    margin: 7px 0 0 20px;
    position: relative;
    cursor: pointer;
}
div.more_links ul.dotted {
    display: inline-block;
    overflow: hidden;
    padding: 5px 11px 18px 10px;
    margin: 0;
}
div.more_links ul.dotted li {
    width: 6px;
    height: 6px;
    padding: 0;
    margin: 2px 8px 0 12px;
    background: #666666;
    border: 1px solid #666666;
    border-radius: 3px;
}
.user-icon{
	padding: 13px 0px;
}
.user-action{
	padding-right: 13px;
    color: #333333;
}
.dropdown-arrow{
   padding: 0px 7px;
}
.top-banner{
	background-image: url(../img/desktop/Main-Image.png);
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    background-size: 100%;
    background-position: 25% 0;
    background-repeat: no-repeat;
}
.top-banner span{
	/*padding-top: 649px;*/
	padding-top:100%;
    display: block;
    height: 0;
}
.humberger-button{
	height: 50px !important;
    border-radius: 0 !important;
    background:transparent;
}

.menu-open-collapse{
	background-color:#506788;
}

.menu-open-collapse .offline,.menu-open-collapse .notification,.menu-open-collapse .notify-badge, .menu-open-collapse .notificationWrap{
	display:none;
}

.user-data{
	font-size: 12px;
	color:#333333;
}
.dropdown.pull-right.user-profile-dropdown.open {
    background: #e0e6ef;
}
.user-profile-menu{
    right: 15px !important;
    padding: 4px;;
}
.user-dropdown-item{
	font-size: 12px;
    color: #2a5797 !important;
}
/*-------- Bootstrap override ---------*/
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover.icon-bar {
    background-color: #607799;
    color:#eceeef;
}
.navbar-default .navbar-toggle.collapsed:focus, .navbar-default .navbar-toggle.collapsed:hover.icon-bar {
	background:#ffffff;
}
.navbar-default .navbar-toggle:hover {
    background-color: #607799;
}
.navbar-default .navbar-toggle.collapsed:hover {
    background-color: #ffffff;
}
.panel-default>.panel-heading {
    background-color: #efefef !important;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
	 background-color: #efefef !important;
}
.panel-group .panel+.panel {
       margin-top: 0px !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #607799;
    color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #607799;
}

.navbar-default.humberger-button .navbar-toggle {
    border-color: #607799;
}

.navbar-default.navbar-login,
.navbar-up.navbar-login,
.navbar-default.navbar-common,
.navbar-up.navbar-common  {
    background-color: #607799 !important;
    min-height:40px;
    height:40px !important;
    border: 0px transparent !important;
    border-radius: 0px !important;
    margin-bottom:0px;
    color:#fff;
    overflow:hidden;
}

.navbar-collapse.navbar-login.collapse,
.navbar-collapse.navbar-common.collapse{
	height:40px !important;
}
.navbar-default {
    background-color: #ffffff !important;
    border-color: #000 !important;
    color:#fff;
    border-radius: 0px !important;
    padding: 0px;
    color: #FFFFFF;
    border-color: transparent !important;
    /* overflow:hidden; */
}
.navbar-toggle {
    display: block ! important;
    background-color: #607799;
    border-radius: 0;
    margin: 0;
    height: 44px;
    padding: 0 12px 0 10px;
    font-size: 1.5em;
    color: #153795;
}
.navbar-toggle.collapsed {
    background-color: #ffffff;
     border-color: #ffffff;
}
.navbar-header {
    float: none ! important;
}
ul.nav.navbar-nav {
	 margin-left: 30px;
}
.navbar-default .navbar-nav>li>a {
    text-align: center;
    color:#ffffff;
    padding: 10px 30px;
    font-weight:700;
    font-size:15px;
}
.navbar-login ul li a:active,
.navbar-login ul li.active a,
.navbar-login ul li a:hover,
.navbar-common ul li a:active,
.navbar-common ul li.active a,
.navbar-common ul li a:hover {
    background-color: #24385b !important;
    color:#ffffff !important;
}
.navbar-nav {
    width: 100%;
}
.main_nav .navbar-collapse.collapse.in{
    display: block ! important;
    overflow: inherit ! important;
}

.main_nav .navbar-collapse.collapse{
    display: none !important;
}
.main_nav .navbar-collapse{
    background: rgb(255, 255, 255);
}

.navbar-header {
    height: 50px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border-style: solid;
    /*border-color: #607799 !important ;*/
    border-width: 0px 0px 1px 0px !important;
    z-index:999;
}
.no-padding{
	padding:0px !important;
}
.no-margin{
	margin:0px !important;
}
.mobile-logo{
	position: absolute;
    width: 100%;
    padding: 0;
    right: 0;
}
/*-------- Header End ---------*/


/* --------Login ------------*/
.logo-img{
	margin-top: 90px;
    margin-bottom: 40px;
}
.login-content{
	background-color:#fff;
}
.sub-header{
	font-size:26px;
	color:#4d5f79;
	font-weight:700;
	margin-bottom:16px;
}
.custom-label{
	font-size:12px;
	color:#666666;
	font-weight:400;
}
.buttonToolbar{
	margin-bottom:12px;
	width:100%;
}
.button-container{
	margin:30px 0px;
}
.rest-pwd{
	margin:0px 0px 30px 0px;
}

/*------------- Button ----------*/
.btn-cancel.back-to-manage{
	height: 30px;
}
.primary-btn
{
	background: -webkit-linear-gradient(#459aff, #0a79f6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#459aff, #0a79f6);/* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#459aff, #0a79f6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#459aff, #0a79f6); /* Standard syntax (must be last) */
    color: #fff;
    font-weight: bold;
    height: 30px;
    padding: 5px 14px;
    font-size: 13px;
    border: 1px solid #0857b5;

}
.primary-btn:hover,
.primary-btn:active,
.primary-btn:focus {
    background-image: linear-gradient(#459aff, #0a79f6);
    color: #fff !important;
    }
.btn-cancel{
	background: -webkit-linear-gradient(#f5f5f5, #e8e8e8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5f5f5, #e8e8e8);/* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5f5f5, #e8e8e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5f5f5, #e8e8e8); /* Standard syntax (must be last) */
    color: #333333;
    font-weight: bold;
    height: 30px;
    padding: 5px 14px;
    font-size: 13px;
    border: 1px solid #b0b0b0;
    margin-left: 20px;
    z-index: 1000;
}
a.link,
a.link:hover{
	font-size:12px;
	color:#2a5797;
	font-weight:600;
}

/* -------------- Footer -----------*/
.footer-container{
	text-align: center;
    background-color: #484f4f;
    width: 100%;
    padding: 2rem 0;
    font-size: 14px;
    line-height: 2rem;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    color:#b6b6b6;
}
.footer-container a,
.footer-container a:hover{
	color:#b6b6b6;
}
/* -------Side bar------ */
.colapsed-nav{
	width:45px;
}

.main {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

#main-section.has-sidebar .main {
  padding-left: 80px;
}

.sidebar {
  	position: absolute !important;
    top: 0px;
    bottom:0px;
    left: 0;
    z-index: 998;
    display: block;
    padding: 5px 0px;
    overflow: hidden;
    background: #efefef;
    min-height: 490px;
}
.sidebar .item-label {
  display: none;
}

/* #main-section.sidebar-expanded .sidebar {
  width: 300px;
} */
#main-section.sidebar-expanded .sidebar .item-label {
  display: inline;
}

/* #main-section.sidebar-collapsed .sidebar {
  width: 60px;
} */
#main-section.sidebar-collapsed .sidebar .item-label {
  display: none;
}
/* .nav-sidebar {
  margin: 0 -20px 20px;
} */

.nav-sidebar > li:last-child {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  /* for the collapse toggle item */
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
  text-transform: uppercase;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
  color: #fff;
  /*background-color: #ea045c;*/
}

/* SUBMENU */
.nav-sidebar > ul > a {
  color: #fff;
}
.toggleOn {
    transition: width .3s;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -o-transition: width .3s;
}

.toggleOff {
    transition: width .3s;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -o-transition: width .3s;
}
.sidebar.toggleOff,
.sidebar.toggleOff:before {
    width: 240px;
}

.sidebar.toggleOff .nav-bar-expand{
 	display:block;
 }
.sidebar.toggleOff .nav-bar-collapse{
 	display:none;
 }

.sidebar.toggleOn,
.sidebar.toggleOn:before {
    width: 40px;
}
.sidebar.toggleOn .nav-bar-expand{
 	display:none;
 }

.sidebar.toggleOn .nav-bar-collapse{
 	display:block;
 }
 .sidebar-expanded{
 	display: inline-block;
 }
.sidebar-reset {
    background: url(../image/desktop/Filter_Icon-for-Desktop.png) no-repeat 9px 7px;
    border: 0;
    box-shadow: none;
    outline: none;
    float: right;
    margin: -11px 20px 0 0;
    padding: 15px 17px;
    border-radius: 3px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}
.filter-text{
	color: #666666 !important;
    font-weight: 700;
    border-bottom: 1px solid #e8e2e2;
    padding: 16px 22px 16px 14px !important;
    font-size: 14px;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #999;
    font-size: 12px;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
}
/*-------- Checkbox ---------- */

.cust-radio label, .cust-chkbox label {
    font-size: 12px;
    margin-left: 3px;
}
.cust-radio input[type=radio], .cust-chkbox input[type=checkbox] {
    visibility: hidden;
    margin-right: 10px;
}
.cust-radio label > span, .cust-chkbox label > span {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 1px;
    left: 0px;
    background: #fff;
    border: 1px solid #948f8f;
    border-radius: 3px;
}
.cust-chkbox label > span:after {
    content: '';
    width: 8px;
    height: 4px;
    position: absolute;
    top: 4px;
    left: 3px;
    border: 2px solid #616161;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.cust-radio label > span:hover::after, .cust-chkbox label > span:hover::after {
    opacity: 0.5;
}
.cust-chkbox label input[type=checkbox]:checked + span:after {
    opacity: 1;
}
.accodian-label{
	text-decoration: none !important;
    cursor: pointer;
    font-size: 14px;
    color: #282828 !important;
    font-weight:600;
}
.search-icon{
	position: absolute;
    right: 1px;
    top: 8px;
    cursor: pointer;
}
.search_all{
	position: relative;
    margin-bottom: 10px;
    margin-top: 3px;
}
/*---------- Manage User------------ */
.blank-user-table{
	border: 1px solid #cccccc;
    margin: 187px auto;
    float: none;
    font-size: 18px;
    font-weight: bold;
    padding: 52px 0;
    text-align: center;
    color: #4d5f79
}
.blank-user-table span{
	margin-bottom:18px;
	display: inline-block;
}
div.more_links:hover ul.dotted li{
    background:#607799;
}
div.more_links ul.sub-menu {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    cursor: default;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #ccc;
    padding: 0;
    margin: 0;
    width: 200px;
    z-index: 1;
    font-size: 12px;
}
div.more_links:hover ul.sub-menu {
    display: block;
}
div.more_links:hover {
    background:#e0e6ef;
}
div.more_links ul.sub-menu li {
    padding: 9px 0 9px 50px;
    margin: 0px auto;
}
div.more_links ul.sub-menu li.import-csv {
    background: url(../image/desktop/import_csv_normal.png) no-repeat 18px 7px;
}
div.more_links ul.sub-menu li.import-csv:hover {
    background: url(../image/desktop/import_csv_selected.png) no-repeat 18px 7px;
     background-color: #506788;
}
div.more_links ul.sub-menu li.export-csv {
    background: url(../image/desktop/export_csv_normal.png) no-repeat 18px 7px;
}
div.more_links ul.sub-menu li.export-csv:hover {
    background: url(../image/desktop/export_csv_selected.png) no-repeat 18px 7px;
     background-color: #506788;
}
.pull-left.col-xs-3.no-padding.hidden-sm.messege {
    color: #24385B;
}
/* div.more_links ul.sub-menu li:hover {
    background: #506788;
} */
div.more_links ul.sub-menu li:hover a {
    color: #ffffff;
    text-decoration: none;
}
.load-more{
	text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #2A5797;
    font-size: 12px;
    background-color: #E0E6EF;
    height: 40px;
    line-height:32px;
}
.name-field-mob{
	font-size:12px;
	font-weight:bold;
	color:#333333;
}
.data-field-mob{
	font-size:12px;
	color:#333333;
	font-weight:600;
}
.right-arrow span.glyphicon {
    color: #4d5f79;
    font-weight: 600;
    line-height: 2;
    cursor:pointer;
}
.table-xs-view{
	padding-top: 10px;
    padding-bottom: 14px;
    border-bottom: 1px solid #ddd;
}
.table-xs-view:last-child{
	border-bottom: none;
}
.sidebar-expanded.toggleOff + .col-container {
    width: calc(100% - 240px);
    float:right;
    -webkit-transition: width 0.3s;
}
.sidebar-expanded.toggleOn + .col-container {
    width: calc(100% - 40px);
    float:right;
    -webkit-transition: width 0.3s;
}
.col-container {
    margin-left: 10px;
    padding-right:0px;
}
.data-block{
	margin-top: 18px;
	position:relative;
}
.top-box {
    height: 51px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #e0e6ef;
    background-color: #e0e6ef;
    padding: 10px !important;
    font-size:12px;
}
.top-box .showing_margin span {
    line-height: 2.6;
}
.showing_margin {
    margin: 0 10px;
}
.manage-user-sort{
    font-size: 12px;
    font-weight: 400;
    width: 140px;
    background-color: #fcffff;
    height: 30px;
    margin-bottom: 6px;
    margin-left: 10px;
    margin-right: 10px;
    color: #282828;
    border: 1px solid #cccccc;
    line-height:10px;
}
.per-page-select-box{
    font-size: 12px;
    font-weight:400;
    width: 140px;
    height: 30px;
    color: #333333;
    background-color: #fcffff;
    border: 1px solid #cccccc;
    line-height:10px;
}
.manage-table{
	background-color: #e5e5e5;
    font-size: 12px;
    color: #555555;
    margin-bottom: 14px !important;
    border-top: 2px solid #ddd;
}
.manage-table>tbody{
	background-color: #ffffff !important;
}
.table.manage-table>thead>tr>th {
    line-height: 1.5;
}
.table.manage-table>thead>tr {
    padding: 0px 15px 0px 15px;
}
/* .table>thead:first-child>tr:first-child>th,
.table>tbody>tr:first-child>td{
	    padding-left: 46px;
}
.table>thead:first-child>tr:last-child>th,
.table>tbody:first-child>tr:last-child>td{
	    padding-left: 32px;
} */
/*--------- Dropdown --------- */
select {
    background-image: url(../image/desktop/down-arrow.png);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-position: 95% center;
    padding: 6px 10px 6px 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    line-height: 20px;
    font-size: 14px;
  }
select.form-dropdown{
	border: 1px solid #ccc;
	width:100%;
}
select:disabled {
	background-color: #eee;
}

.has-error select.form-dropdown{
	border: 1px solid #e60505;
}

/* Edit User */
.border-none{
	border:1px solid transparent;
}

.password-section{
	padding:0;
}

.change-pwd-bar{
	background-color: #E0E6EF;
    color: white;
    width: 96%;
    clear: both;
    margin-left: 2%;
    margin-bottom: 24px;
}
.change-pwd-heading{
	font-weight: bold;
    color: #607799;
    font-size: 12px;
    padding: 6px;
    display: inline-block;
}
.password-instruction{
    font-size: 10px;
    color: #464646;
}
.pwd-istruction-li li{
	color: #e40b1e;
	font-size: 10px;
}
.down-arrow{
	margin-top: 8px;
}
.primary-btn a,
.primary-btn a:hover{
	color:#ffffff;
}
/* Switch toggle */

.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin:0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
  box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
  box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
  box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #00CC33;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:disabled:checked ~ .switch-label{
	background: #618871;
}
.switch-input:disabled ~ .switch-label{
	background: rgba(110, 115, 113, 0.58);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
/* Switch Left Right
==========================*/
.switch-left-right .switch-label {
	overflow: hidden;
}
.switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
	width: 20px;
	height: 20px;
	top: 4px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 11px 0 0 0;
	text-indent: -12px;
	border-radius: 20px;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.switch-left-right .switch-label:before {
	background: #eceeef;
	text-align: left;
	padding-left: 80px;
}
.switch-left-right .switch-label:after {
	text-align: left;
	text-indent: 9px;
	background: #FF7F50;
	left: -100px;
	opacity: 1;
	width: 100%;
}
.switch-left-right .switch-input:checked ~ .switch-label:before {
	opacity: 1;
	left: 100px;
}
.switch-left-right .switch-input:checked ~ .switch-label:after {
	left: 0;
}
.switch-left-right .switch-input:checked ~ .switch-label {
	background: inherit;
}
/* Switch Flat
==========================*/
.switch-flat {
	padding: 0;
	background: #FFF;
	background-image: none;
}
.switch-flat .switch-label {
	background: #FFF;
	border: solid 2px #eceeef;
	box-shadow: none;
}
.switch-flat .switch-label:after {
	color: #0088cc;
}
.switch-flat .switch-handle {
	top: 6px;
	left: 6px;
	background: #dadada;
	width: 22px;
	height: 22px;
	box-shadow: none;
}
.switch-flat .switch-handle:before {
	background: #eceeef;
}
.switch-flat .switch-input:checked ~ .switch-label {
	background: #FFF;
	border-color: #0088cc;
}
.switch-flat .switch-input:checked ~ .switch-handle {
	left: 72px;
	background: #0088cc;
	box-shadow: none;
}
/* Switch Yes No
==========================*/
.switch-yes-no {
	padding: 0;
	margin: 15px 0 0;
	background: #FFF;
	border-radius: 0;
	background-image: none;
}
.switch-yes-no .switch-label {
	box-shadow: none;
	background: none;
}
.switch-yes-no .switch-label:after, .switch-yes-no .switch-label:before {
	width: 100%;
	height: 70%;
	top: 5px;
	left: 0;
	text-align: center;
	padding-top: 10%;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.switch-yes-no .switch-label:after {
	color: #FFFFFF;
	background: #32CD32;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}
.switch-yes-no .switch-label:before {
	background: #eceeef;
	backface-visibility: hidden;
}
.switch-yes-no .switch-handle {
	display: none;
}
.switch-yes-no .switch-input:checked ~ .switch-label {
	background: #FFF;
	border-color: #0088cc;
}
.switch-yes-no .switch-input:checked ~ .switch-label:before {
	transform: rotateY(180deg)
}
.switch-yes-no .switch-input:checked ~ .switch-label:after {
	transform: rotateY(0)
}
/* Switch Slide
==========================*/
.switch-slide {
	padding: 0;
	background: #FFF;
	border-radius: 0;
	background-image: none;
}
.switch-slide .switch-label {
	box-shadow: none;
	background: none;
	overflow: hidden;
}
.switch-slide .switch-label:after, .switch-slide .switch-label:before {
	width: 100%;
	height: 65%;
	top: 5px;
	left: 0;
	text-align: center;
	padding-top: 10%;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.switch-slide .switch-label:after {
	color: #FFFFFF;
	background: #87CEEB;
	left: -100px;
}
.switch-slide .switch-label:before {
	background: #eceeef;
}
.switch-slide .switch-handle {
	display: none;
}
.switch-slide .switch-input:checked ~ .switch-label {
	background: #FFF;
	border-color: #0088cc;
}
.switch-slide .switch-input:checked ~ .switch-label:before {
	left: 100px;
}
.switch-slide .switch-input:checked ~ .switch-label:after {
	left: 0;
}
/* Switch Light
==========================*/
.switch-light {
	padding: 0;
	background: #FFF;
	background-image: none;
}
.switch-light .switch-label {
	background: #FFF;
	border: solid 2px #eceeef;
	box-shadow: none;
}
.switch-light .switch-label:after {
	color: #9370DB;
}
.switch-light .switch-label:before {
	right: inherit;
	left: 11px;
}
.switch-light .switch-handle {
	top: 6px;
	left: 72px;
	background: #dadada;
	width: 22px;
	height: 22px;
	box-shadow: none;
}
.switch-light .switch-handle:before {
	background: #eceeef;
}
.switch-light .switch-input:checked ~ .switch-label {
	background: #FFF;
	border-color: #9370DB;
}
.switch-light .switch-input:checked ~ .switch-handle {
	left: 72px;
	box-shadow: none;
	background: #9370DB
}
.switch-light .switch-input:checked ~ .switch-handle:before {
	background: rgba(255,255,255,0.7);
}
/* Transition
============================================================ */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* Success popup */
/* .modal-dialog {
	width: 460px !important;
    margin: 183px auto !important;
} */
.modal-content {
    text-align: center;
	padding: 5% 0 0 0;
	border-radius: 0px;
}
.right-icon{
	margin-bottom:20px;
	width:61px;
	height:61px;
}
.browse-container{
	margin-top: 7px;
	text-align: left;
}
.sucess-upload-icon{
	width: 30px;
    height: 30px;
}
.model-container{
	margin-bottom: 13px;
	font-size: 12px;
}
.modal-footer{
	border-top: 1px solid transparent !important;
	text-align: center;
	padding: 15px 0px;
}
.modal-footer .btn-cancel{
	margin-left: 0px;
}
.modalWrapper .modal-body{
	padding: 15px 0px;
}
.modal-footer .btn{
	margin-top: 7px;
}
.help-block{
	font-size: 12px;
}
.mange-user-pagination-control .pagination{
	margin:0;
}
.filter-by-text{
	padding-left: 10px;
}
.filter-by-text li a{
	cursor: pointer;
}
.pagination .pageNumber{
	display:none;
}
li.left-directionLinks a{
	padding: 0;
    background: url(../image/desktop/check-left-box.png);
    height: 20px;
    width: 20px;
	margin: 0 3px 0 0;
}
li.right-directionLinks a{
	padding: 0;
    background: url(../image/desktop/check-right-box.png);
    height: 20px;
    width: 20px;
    margin: 0;
}
.filter-text img{
	cursor: pointer;
}

.navbar-default .navbar-toggle.collapsed .icon-bar {
    background-color: #607799;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #eceeef;
}
.error-login-bar{
	background-color: #fee0e0;
    color: #f3333f;
    width: 94%;
    Border:1px solid #fec7bf;
    clear: both;
    margin-left: 3%;
    margin-bottom: 24px;
    text-align:center;
}


.success-login-bar{
	background-color: #d3f5d6;
    color: #f3333f;
    width: 96%;
    border:1px solid #88f392;
    clear: both;
    margin-left: 2%;
    margin-bottom: 24px;
    text-align:center;
}
.success-login-heading{
	font-weight: bold;
    color: #018c0e;
    font-size: 13px;
    display: inline-block;
}

.error-login-heading{
	font-weight:400 ;
    color: #f3333f;
    font-size: 12px;
    display: inline-block;
}
.error-login-heading p,.success-login-heading p {
	margin: 10px 0;
}


#profileSuccessModal .modal-footer{
	text-align: center;
}


/*---- Customer Details -----*/
.transaction-history-table thead tr th:first-child {
    padding-left: 60px;
}
.transaction-history-table tbody tr td:first-child {
    padding-left: 60px;
}
.customer-details-container {
    margin-top: 20px;
    padding-left: 15px;
}
span.page-header-name.customer-name {
    border-right: none;
    display: inline-block;
    margin-bottom: 16px;
    font-size:22px;
}
.sub-header-bar,
.left-bar,
.botttom-bar {
	background-color:#607799;
}
.botttom-bar{
	width: 100%;
    height: 61px;
    position: fixed;
    bottom: 0;
    z-index: 3000;
}
.botttom-bar li.list-item {
    float: left;
}
.left-bar {
    width: 45px;
    height: 100%;
    display: inline-block;
    float: left;
}
.customer-detail-wrapper{
	border-left: 45px solid #607799;
}
.sub-header-bar{
	height: 28px;
    padding: 4px 0 4px 10px;
    color: #ffffff;
}
.customer-details-block {
    margin-left: 8px;
    margin-bottom:20px;
    z-index: 1000;
    border: 1px solid #ccc;
}
.inner-block{
	width: 100%;
    padding: 15px;
    display: inline-block;
}
.customer-left-panel{
   border-right: 1px solid #ddd;
}
.customer-left-panel:last-child{
	border-right: none;
}
.clear{
	clear:both;
}
.contact-term-block{
	width: 21%;
    margin-left: 54px;
    display: inline-block;
    margin-bottom: 20px;
    z-index: 1000;
    border: 1px solid #ccc;
}
.customer-detail-data {
    width: 90%;
    float: left;
    margin-bottom: 10px;
    /* padding: 0px 42px; */
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.margin-left{
	margin-left: 27px;
}
.custom-value{
	font-size: 12px;
    text-transform: uppercase;
    color: #282828;
}
.active-status{
	color:#00cc33;
	font-size:12px;
	font-weight:500;
}

.inactive-status{
	color:#cccccc;
	font-size:12px;
	font-weight:600;
}

.error-status{
	color:#e60505;
	font-size:12px;
	font-weight:500;
}

.list-item a{
	padding: 23px;
}

li a.customer:hover,
li a.address:hover,
li a.terms:hover,
li a.contacts:hover,
li a.transaction-history:hover
{
	background-color: #293d4e;
}
li a.customer{
	 background: url(../image/desktop/icon2_desktop.png) no-repeat 18px 7px;
	 background-position: 10px;
	 display:inline-block;
}
li a.customer:active{
	 background: url(../image/desktop/icon1_desktop.png) no-repeat 18px 7px;
	 background-position: 10px;
     background-color: #ffffff;
     margin: 1px 2px;
     display:inline-block;
}
li a.address{
	 background: url(../image/desktop/icon3_desktop.png) no-repeat 18px 7px;
	 background-position: 10px;
	 display:inline-block;
}
li a.address:active{
	 background: url(../image/desktop/icon4_desktop.png) no-repeat 18px 7px;
	 background-position: 10px;
     background-color: #ffffff;
     margin: 1px 2px;
     display:inline-block;
}
li a.terms{
	 background: url(../image/desktop/icon5_desktop.png) no-repeat 18px 7px;
	 background-position: 10px;
	 display:inline-block;
}
li a.terms:active{
	 background: url(../image/desktop/icon6_desktop.png) no-repeat 18px 7px;
	 background-position: 10px;
     background-color: #ffffff;
     margin: 1px 2px;
     display:inline-block;
}
li a.contacts{
	 background: url(../image/desktop/icon7_desktop.png) no-repeat 18px 7px;
	 background-position: 10px;
	 display:inline-block;
}
li a.contacts:active{
	 background: url(../image/desktop/icon8_desktop.png) no-repeat 18px 7px;
	 background-position: 10px;
     background-color: #ffffff;
     margin: 1px 2px;
     display:inline-block;
}
li a.transaction-history{
	 background: url(../image/desktop/transaction_normal.png) no-repeat 18px 7px;
	 background-position: 10px;
	 display:inline-block;
}
li a.transaction-history:active{
	 background: url(../image/desktop/transaction_selected.png) no-repeat 18px 7px;
	 background-position: 10px;
     background-color: #ffffff;
     margin: 1px 2px;
     display:inline-block;
}
.customer-term-block{
    display: inline-block;
    margin-bottom: 20px;
    z-index: 1000;
    border: 1px solid #ccc;
    width: 100%;
}
a.selected-block{
	background: url(../image/desktop/select-block-icon.png) no-repeat;
	display: inline-block;
    width: 29px;
    height: 29px;
}

/*---- Customer Details End -----*/

/*---- Calendar Details  -----*/

.calendar-details-block {
    margin-left: 0px;
    margin-bottom:20px;
    z-index: 1000;
    border: 1px solid #ccc;
}
.calendar-term-block{
	width: 22%;
    margin-left: 48px;
    display: inline-block;
    margin-bottom: 20px;
    z-index: 1000;
    border: 1px solid #ccc;
}
.calendar-margin-left{
	margin-left:1px;
}
.holiday-date{
	border: 1px solid #ddd;
    padding: 10px;
    border-right: 0px;
}
.holiday-name{
	border: 1px solid #ddd;
    padding: 10px;
}
.margin-bottom{
    margin: 30px 0;
}
.holiday-count{
	padding: 10px;
}
.glyphicon.page-header-name.customer-name{
	line-height: 2;
}
/*---- Calendar Details End -----*/

.mobile-next-btn-holder{
	text-align: center;
	margin-bottom: 20px;
}
   input.search-input[placeholder]          {text-overflow:ellipsis;}
  input.search-input::-moz-placeholder     {text-overflow:ellipsis;}
  input.search-input:-moz-placeholder      {text-overflow:ellipsis;}
  input.search-input:-ms-input-placeholder {text-overflow:ellipsis;}
.search-input{
	padding: 6px 25px 6px 12px;
}

/*------ LOAD MORE MOBILE VIEW------ */

#loadMore a:hover {
 text-decoration: none;
}

.help-block{
  font-size: 12px;
  font-weight:600;
  color:#e60505!important;
}
.has-error .form-control {
	border: 1px solid #e60505;
}

.form-control{
   border-radius: 0px;
}
/*--------------- login mobile view --------------*/
.logo-div{
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 36px;
    margin-right: 36px;
}

/*--- Costomize scroll bar for mange side nav -----*/
.left-nav-scroll {
      height: 200px;
 }
 .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .03s;
    -o-transition-duration: .03s;
    transition-duration: .03s;
    -webkit-transition-property: height,visibility;
    -o-transition-property: height,visibility;
    transition-property: height,visibility;
}
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    background: -webkit-linear-gradient(#459aff, #0a79f6);
    background: -o-linear-gradient(#459aff, #0a79f6);
    background: -moz-linear-gradient(#459aff, #0a79f6);
    background: linear-gradient(#459aff, #0a79f6);
    float: left;
    color: #fff;
    padding: 5px 14px;
    height: 30px;
    border-radius: 0px;
    font-size: 13px;
}

.fileContainer [type=file] {
    cursor: pointer;
}
.progress-bar {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
}

.uploaded {
    padding: 0;
    height: 2px;
    background-color: #0857b5;
    border-image: initial;
}
.col-xs-offset-right-1{
	margin-right: 8.33333333%;
}
.progress-bar-container{
	float: left;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
	width: 100%;
	border-radius: 3px;
}
.file-name{
	float: left;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 10px;
}
.term-block{
	padding: 5px 0 5px 8px;
    clear: both;
}
.each-contact-details{
	border-bottom: 1px solid #ccc;
}
.each-contact-details:last-child{
	border-bottom: none;
}
.default-address .custom-value{
	color:#666666;
}
/* INPUT NUMBER */
input[type=number] {
    height: 30px;
    line-height: 25px;
    font-size: 14px;
    padding: 0 8px;
    -webkit-appearance: none;
}
/* input[type=number]::-webkit-inner-spin-button {
	 background:url(../image/desktop/arrow.png)no-repeat 50% 50%;
    -webkit-appearance: none;
    cursor:pointer;
    width: 14px;
    height: 14px;
    padding: 4px;
    position: relative;
    right: -3px;
    border-radius: 28px;
} */
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

number-spin div {
  position: relative;
  width: 96%;

}
number-spin input[type=number] {
  height: 30px;
  width: 100%;
  text-align: left;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 14px;
}

number-spin .ns-plus {
  position: absolute;
  text-align: center;
  line-height: 16px;
  top: 7px;
  right: 10px;
  height: 14px;
  display: block;
  width: 16px;
}

number-spin .ns-minus {
  position: absolute;
  text-align: center;
  display: block;
  line-height: 16px;
  height: 14px;
  bottom: -2px;
  right: 10px;
  width: 16px;
}


/* Loader */

.loader-wrapper {
  	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
	opacity: 0.8;
    background-color: #d3d3d3;
}
.loader-image {
	  position: absolute;
	  left: 0;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  margin: auto;
	  width:50px;
}

.edited {
    margin-right: 2px;
    background-color: #22559A;
    padding: 4px;
    border-radius: 50%;
    width: 20px;
    color: #fff;
}

.page-header-name.no-right-border {
    border-right: none;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.add-type-button {
    padding-left: 0;
    font-size: 22px;
    color: #607A99;
}

.warehouse-items-popover {
    padding-left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
}

num-spinner .ns-plus {
    position: absolute;
    text-align: center;
    line-height: 16px;
    top: 7px;
    right: 10px;
    height: 14px;
    display: block;
    width: 16px;
}
num-spinner .ns-minus {
    position: absolute;
    text-align: center;
    display: block;
    line-height: 16px;
    height: 14px;
    bottom: -2px;
    right: 10px;
    width: 16px;
}
.ns-minus img {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
num-spinner div {
    position: relative;
    width: 96%;
}

.delivery-area-help {
    width: 18.5%;
    font-size: 10px;
}

.delivery-area-date-container .delivery-date-picker {
    left: 136px;
}
.form-control[readonly] {
    background-color: #fff;
}
.form-control[disabled] {
    background-color: #eee;
}
label.col-xs-12.col-sm-12.custom-set {
    font-size: 12px;
    font-weight: 600;
}
.buttonToolbar.delivery-area {
    margin-top: 21px;
}
.add.set {
    font-size: 16px;
    font-weight: 700;
    color: #607799;
    margin-left: 15px;
    margin-top: 15px;
}
span.glyphicon.glyphicon-plus {
    font-weight: 700;
}
span.calendar-icon-wrapper.delivery-date-picker.deliverydatefrom {
    left: 160px;
}
span.glyphicon.glyphicon-remove.cross.icon {
    color: #607799;
    padding-top: 10px;
    line-height: 1.1;
}