@media only screen and (max-width: 1200px) and (min-width: 900px){	
.top-banner{
	background-image: url(../img/tab/Main_Image-Tablet-1.png);
    /* height: 646px; */
}
ul.nav.navbar-nav {
    margin-left: 3%;
}
}
@media only screen and (max-width: 899px) and (min-width: 768px){
ul.nav.navbar-nav {
    margin-left: 4.4%;
}
.top-banner{
	background-image: url(../img/tab/Main_Image-Tablet-1.png);
    /* height: 547px; */
}
.login-content {
    padding: 0;
}
}
@media (min-width: 992px) {
  .main {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 16.6666666667%;
    float: left;
    width: 83.3333333333%;
  }
  #main-section.sidebar-collapsed .main {
    widows: 100%;
    margin-left: 0;
  }
  .sidebar {
    width: 16.6666666667%;
  }
  .sidebar .item-label {
    display: inline;
  }
  .data-repeat {
    font-size: 12px;
}
}
@media screen and (max-width: 767px){
.side_bar .cust-radio label, .cust-chkbox label {
    margin-top: 3px;
    min-height: 18px;
}
.top-banner{
	background-image: url(../img/mobile/image-BG.png);
    height: 580px;
    min-width: 375px;
}
.login-content {
    background-color: transparent;
    position: absolute;
    left: 5%;
}
.sub-header{	
    color: #ffffff;
}
.login-content .custom-label {
    color: #ffffff;
}
.main_nav .navbar-collapse.collapse.in {
    padding: 0;
    position: fixed;
    width: 100%;
}
ul.nav.navbar-nav {
    margin-left: 0%;
    width: 100%;
    z-index: 20000;
    background: #ffffff;
    margin: 0px;
}
navbar {   
    z-index: 2000;
}
.overlay{
	height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    /*top: 321px;*/
    left: 0;
    background-color: rgba(62, 56, 56, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    cursor:pointer;
}
.humberger-button.collapsed + span + .dropdown .overlay {
    display: none;
}
.navbar-default .navbar-nav>li>a {
    color: #506788;
}
.navbar-login ul li a:active, 
.navbar-login ul li.active a,
.navbar-login ul li a:hover {
    color:#ffffff ! important;
}
.humberger-button {
    height: 42px !important;
}
.humberger-button.collapsed {
    height: 40px !important;
}
.navbar-default .navbar-nav>li>a {
    text-align: left;
    padding: 16px 9px;
}
.navbar-header {
    height: 51px;
    /*border-bottom: 1px solid #506788;*/
}
.navbar-header .navbar-toggle + span{
	background-color:#506788;
	display:block;
	width: 100%;
	height: 42px;
}
.navbar-header .navbar-toggle.collapsed + span{
	background-color:#ffffff;
	display:block;
	width:100%;
}

.navbar-default .navbar-toggle:hover, button.navbar-toggle {
    background-color: #506788;s
}
.navbar-default.navbar-login, .navbar-up.navbar-login {
    background-color: #506788 !important;
}
.navbar-toggle {
    background-color: #506788;
}
.navbar-default .navbar-toggle {
    border-color: #506788;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}
.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle span:nth-child(3) {
    opacity: 0;
}
.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}
.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}
.page-header-name {
    font-size: 18px;
    border-right: 1px solid transparent;
    padding: 6px 18px 6px 0px;
    margin: 0px 1px
}
.data-block {
    margin-top: 0px;
}
.sidebar{
	padding:0px;
}
.primary-btn 
.btn-cancel{
    height: 30px;
    padding: 6px 10px;
    font-size: 13px;
}
.mobile-container{
    padding: 8px;
}
.showing_margin {
    margin: 0px 6px;
    font-size: 10px;
}
.view.reservation {
    margin-left: -29px;
    margin-right: -29px;
}
.top-box {
    padding: 13px 0 !important;
}
div.more_links {
    margin: 1px 0 0 8px;
}
div.more_links ul.dotted {
    padding: 0px 5px 18px 4px;
}
.user-data {
    font-size: 9px;
    padding-left:4%;
    color:#506788;
}

/* BUTTON CSS   */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* PROGRESS BAR CSS  */
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	padding: 0;
}
#progressbar li {
	list-style-type: none;
	color: #333;
	text-transform: uppercase;
	font-size: 9px;
	width: 50%;
	float: left;
	position: relative;
    text-align: center;
    color: #607799;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 12px;
	color: #333;
	background: #fff;
	border-radius: 50%;
	margin: 0 auto 5px auto;
	border: 1px solid #9d9d9d;
}

#progressbar li.activePagination:before {
	background: #e0e6ef;
	color: #607799;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #eee;
	position: absolute;
	left: -50%;
	top: 15px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #eee;
	color: #333;
}
.footer-container{
    font-size: 14px;
    font-family: arial;
    padding-bottom: 16px;
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 16px;
}
.navbar-default.navbar-common, .navbar-up.navbar-common {  
    min-height: 0;
    height: 0px !important;
}
.navbar-collapse.navbar-common.collapse {
    height: 0px !important;
}
.customer-detail-wrapper {
    border-left: 0px solid transparent;
}
.customer-detail-wrapper {
    border-left: 0px solid transparent;
}
.customer-details-container {
    padding-left: 10px;
    padding-right: 10px;
}
.customer-left-panel {
    border-right: none;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.calendar-term-block {
    width: 100%;
    margin-left: 0;
}
.list-item a {
    padding: 30px 41px;
}
li a.customer{
	 background-position: 34px;
}
li a.customer:active{
	 background-position: 34px;
}
li a.address{
	 background-position: 34px;
}
li a.address:active{
	 background-position: 34px;
}
li a.terms{
	 background-position: 34px;
}
li a.terms:active{
	 background-position: 34px;
}
li a.contacts{
	 background-position: 34px;
}
li a.contacts:active{
	 background-position: 34px;
}
li a.transaction-history{
	 background-position: 24px;
}
li a.transaction-history:active{
	 background-position: 34px;
}
.customer-detail-data {
    width: 100%;
    /* padding: 0px 23px; */
}
.botttom-bar li.list-item {
    width: 20%;
}
.customer-details-block {
    margin-left: 0px;
}
.customer-term-block {
    width: 100%;
}
.customer-term-block.customer-margin-left ,
.customer-term-block{
    margin-left: 0;
}
.navbar {
    border-width: 0 0 0 0 !important;
}
ul.manage-submenu {
    right: 15px;
    font-size: 15px;
}
.manage-user-sort {
    font-size: 12px;
    font-weight: 400;
    width: 100px;
    background-color: #fcffff;
    height: 30px;
    margin-bottom: 6px;
    margin-left: 10px;
    margin-right: 10px;
    color: #282828;
    border: 1px solid #cccccc;
    line-height: 10px;
}
select {
    background-image: url(../img/desktop/down-arrow.png);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-position: 95% center;
    padding: 6px 10px 6px 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    line-height: 20px;
    font-size: 14px;
}
.navbar {
    margin-bottom: 0;
}
.reservation-availability,
.availability-records {
    width: 100%;
    margin-bottom: 0;
}
.calendar-icon-reservation {
    right: 14%;
}
.availability-records{
	 border: 1px solid transparent;
	 margin-top: 5px;
}
/* .ongoing-status span,
.cancelled-status span,
.completed-status span,
.confirmed-status span{	
	padding-left: 20px;
    line-height: 14px;
    margin-top: 11px; 

} */
.term-block {
    padding: 5px 0 5px 0px;
}
.border.hidden-lg.hidden-sm.hidden-md {
    border-bottom: 1px solid #ccc;
    margin-top: 80px;
    margin-bottom: 10px;
}
.col-lg-4.col-sm-6.col-xs-12.mobile {
    margin-top: 14px;
    padding-right: 0px;
    padding-left: 0px;
}
.reservation-button-container{
	text-align: center;
	margin-top: 0px;
    
}
.reservation-button-group{
	margin-bottom: 20px;
}
.list-of-item .reservation-data {
    padding: 16px 0;
}
.reserve-item .reservation-data {
    padding: 19px 0;
}
.reservation-data {
    padding: 26px 0;
}
.compare-item-list{
   margin-top: 31px;
}
.reservation-left-block{
	border-right: 1px solid transparent;
    padding: 0px;
}

.scroll-bar {
    overflow-y: inherit;
    height: auto;
}
a.user-dropdown-item.collapsed {
    font-size: 15px;
}
 .progressbar-reservation {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	padding: 0;
}
.progressbar-reservation li {
	list-style-type: none;
	color: #333;
	text-transform: uppercase;
	font-size: 9px;
	width: 33%;
	float: left;
	position: relative;
    text-align: center;
    color: #607799;
}
.progressbar-reservation li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 12px;
	color: #333;
	background: #fff;
	border-radius: 50%;
	margin: 0 auto 5px auto;
	border: 1px solid #9d9d9d;
}

.progressbar-reservation li.activePagination:before {
	background: #e0e6ef;
	color: #607799;
}
/*progressbar connectors*/
.progressbar-reservation li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #eee;
	position: absolute;
	left: -50%;
	top: 15px;
	z-index: -1; /*put it behind the numbers*/
}
.progressbar-reservation li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar-reservation li.active:before, .progressbar-reservation li.active:after{
	background: #eee;
	color: #333;
}
.reservation-compare-block{
	display:none;
}
.data-repeat {
    font-size: 12px;
}
.item-name {
    padding-left: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}
/* RESERVATION MODAL */
.manage-user-sort-reservation {
    font-size: 13px;
    font-weight: 400;
    width: 150px;
    background-color: #fcffff;
    height: 30px;
    margin-bottom: 6px;
    margin-left: 10px;
    margin-right: 10px;
    color: #282828;
    border: 1px solid #cccccc;
    line-height: 10px;
}
.modal-content.reservation {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.name-field-mob-reservation {
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    padding-top: 10px;
    margin-left: 15px;
}
.data-field-mob-reservation {
    font-size: 13px;
    color: #333333;
    font-weight: 600;
    padding-top: 10px;
    margin-left: 10px;
}
label.mobile-id-reservation {
    margin-top: 6px;
    margin-right: -4px;

}
.col-xs-1.right-arrow {
    padding-top: 2px;
    font-size: 20px;
}
.reservation-quantity {
    font-size: 12px;
    font-weight: 600;
    margin-right: 22px;
    line-height: 1.1;
}
.col-container.reservation.sub-container.visible-xs {
    margin-left: 0px!important;
}
.modal-header .close.reservation {
    margin-top: -2px;
    margin-right: 10px;
}
.modal-title.pull-left{
	font-size: 14px;
    font-weight: 600;
    padding-left: 9px;
    margin-bottom: 10px;
    width: 83%;
    text-align: left;
}
a.load-more.reservation.col-xs-12 {
    margin-top: 30px;
}
.reserve-header {
    font-size: 9px;
}
.create.reservation-availability {
    margin-bottom: 26px;
    margin-left: 0px!important;
    padding-bottom: 48px;
    padding-left: 17px;
    padding-top: 15px;
    width: 100%;
}
.mobile-edit-icon {
    margin-right: 10px;
    padding-top: 7px;
    float: right;
}
/* img.user-icon-.pull-right-reservation {
    margin-left: 50px;
} */
.mobile-device-padding{
	padding: 5px;
}
.mobile-margin{
	margin-left:0px
}
button.btn.btn-cancel.reservation {
    margin-bottom: 76px;
    margin-right: 19px;
}

.reservation-button-container .reservation-reset, .reservation-button-container .reservation-back{
	margin-left:0px;
}
b.mobile-font {
    font-size: 10px;
}
.reservation-availability select {
    padding-right: 22px;
}
.reservation-compare-modal select {
    padding-right: 22px;
}
span.col-xs-4.col-sm-4.col-lg-4.text-left.custom-value {
    border: none;
}

.item-list {
    border-right: none;
}
div.scroll {
    overflow: hidden;
    width: 100%;
    height: 80%;
}
.modal-footer {
    border-top: 1px solid transparent !important;
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 25px;

}
.additional-empty-item{
	display:none;
}
.modal-scroll {
    overflow: auto;
    width: 100%;
    height: 206px;
}
.edit-reservation span.page-header-name.customer-name{
	font-size: 18px;
}
.edit-reservation .inner-block-reservation{
	padding: 15px;
}
.edit-reservation .inner-block-reservation.view{
	padding:0;
}

.edit-reservation .view.reservation-availability.row{
	padding-top: 5px;
}

.edit-reservation .help-icon-mobile{
	left: -6px;
	top: -5px;
}

}
@media (max-width: 320px) {
.reserve-header {
    font-size: 9px;
}
.reserve-header-right-section{
	font-size: 9px;
}
div.scroll {
    overflow: hidden;
}
.reservation-quantity {
    font-size: 12px;
    font-weight: 600;
    margin-right: -6px;
}
.modal-scroll {
    overflow: auto;
    width: 100%;
    height: 206px;
}
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
.item-list:nth-child(2n+2) {
    border-right: none;
}
.reserve-header {
    font-size: 10px;
}
.reservation-left-block{
    padding: 0px 25px 0px 0px;
}
div.scroll {
    width: 380px;
    height: 327px;
    overflow: overlay;
}
.modal-content-reservation {
    text-align: center;
    padding: 40px 10px;
    border-radius: 0px;
    height: 421px;
    width: 100%;
}
.top-banner span {
    padding-top: 670px;
    display: block;
    height: 0;
}
.modal-dialog-reservation{
	width: 100%;
    margin: 30px auto;
}
}
@media only screen and (min-width: 1025px){
.item-list:nth-child(3n+3) {
    border-right: none;
}
.modal-content-reservation {
    text-align: center;
    padding: 40px 10px;
    border-radius: 0px;
    height: 421px;
    width: 100%;
}
}

@media only screen and (max-width: 480px){
.inner-block-reservation .custom-value{
    font-size: 10px;
}

.edit-reservation  .check-availability-btn{
	font-size: 11px;
	line-height: 12px;
}

}

