.container-fluid, .container{
	overflow-x:hidden;
}

.nav-wrapper{
	padding:4px 0;
}

.schol_logo{
	padding: 8px 0;
}

.humberger-button{
	padding: 10px;
    margin-top: 4px !important;
}

.menu-span-icon{
	padding-right:15px;
}

.notificationWrap{
	position:inherit;
	float:right;
}

.notify-badge{
	position:absolute;
	height:18px;
	top:8px;
	/*left:146px;*/
	right:5px;
	background:rgba(255,0,0,1);
	width:auto;
	min-width:18px;
	text-align:center;
	line-height:18px;
	font-size:1rem;
	border-radius:50%;
	color:white;
	border:1px solid #f00;

}


.login-error-box{
	border: 1px solid red;
	border-radius: 4px;
	color: red;
	margin-bottom: 10px;

}

.login-form{
	position:relative;
}

.login-loader{
	height:23px;
	padding-bottom:3px;
}


.primary-btn{
	outline:none!important;
	/*outline-style:none;*/
}

.notify-pending-request{
	float:right;
	background:rgba(255,0,0,1);
    	width:auto;
    	min-width:18px;
    	text-align:center;
    	line-height:18px;
    	font-size:1rem;
    	border-radius:50%;
    	color:white;
    	border:1px solid #f00;
    	height:18px;

}

.offline{
	float: right;
        width: 50px;
        padding: 10px;
        height:50px;
}
.notification{
	    width: 44px;
        float: right;
        /* margin: 10px; */
        border-left: 1px solid #333;
        padding: 16px 10px 10px 10px;
}

.alert_box{
	background-color:#FF5F2D;
	text-align:center;
	color:white;
	/*padding:7% 0 7% 0;*/
	padding-top:19px;
	height:60px;
	box-shadow:0px 2px 8px #000;

}

.truck-name-box{
	border-bottom:1px solid #e5e5e5;
}

.truck-name-box span{
	padding:8px 0;
}

.dashboard_row{
	/*padding:8% 2% 8% 2%;
	border-bottom:1px solid #888888;*/
	min-height:126px;
	/*padding-top:19px;
	padding-bottom:18px;*/

}

.third_row{
	min-height:136px;
}

.dashboard_row .row_item{
	/*position: relative;
	top: 50%;
	transform: translateY(-50%);*/
}

.dashboard_trip_heading{
	font-size:12px;
	color:#666666;
	font-weight:bold;
	text-transform:uppercase;
}

.dashboard_trip_value{
	font-size:16px;
	color:#282828;
	font-weight:bold;
	text-transform:uppercase;
}

/*.dashboard_row div img{
	min-height:5em;

}*/

.dashboard_row .col-xs-7{
	/*margin-top: 29px;*/
	margin-left: 0;
	padding-left: 0;

}

.second-dashboard-row{
	/*margin-top:12px;*/
}

.first-dashboard-row{
	/*margin-top: 29px;*/
	padding-right:0;

}

.third-dashboard-row{
	padding-right:0;
	/*margin-top:0;*/
}

.border_bottom{
	border-bottom:1px solid #e5e5e5;
}

.bottom_10{
	margin-bottom:10px;
}

.details-box{
	border:1px solid #888888;
	padding:21px 21px;
}

.reservation_box, .shipping_box{
	padding:20px 10px 20px 10px;
}

.profile_box{
	margin-top:10px;
}

.truckLink{
	color:#4d5f79;
}

.lisence-box{
	margin:45px 0;
	text-align:center;
}

.lisence-input{
	    /*width: 250px;*/
	    width:80%;
	    margin:0 auto;
        /*position: relative;
        left: 50%;
        transform: translateX(-50%);*/
        height: 45px;
        /* float: left; */
        /*margin-bottom: 20px;*/
}



.instruction_truck{
	color:red;
	line-height:16px;
	margin-top:5px;
}

.instruction_truck img{
	height:10px;
	margin-right:5px;
}

.lisence-parent h3{
	color:#282828;
	margin-top:25px;
}

.lisence-parent p{
	color:#666666;
}

.new-password{
	margin-bottom:10px;
}

.confirm-password{
	margin-bottom:20px;
}

.parent-details-box{
	padding-left:10px;
	padding-right:10px;
	margin-top:18px;
}

.schedule_heading{
	color:#797D82;
}

.schedule_page_heading{
	margin-top:18px;
	padding-bottom:18px;
	border-bottom:1px solid #B4B4B4;
}

.destination-page-heading{
	margin-top:20px;
	padding-bottom:20px;
}

.callIcon{
	margin-left:10px;
}

.status_img{
	position: relative;
	top: 50%;
	transform: translateY(50%);
}

.schedule_label{
	color:#666666;
	font-size:12px;
	width:100%;

}

.schedule_value{
	color:#282828;
	font-weight: 700;
    text-transform: uppercase;
    word-wrap:break-word;
}

.destination_box{
	margin-top:20px;
	margin-bottom:60px;
	padding:0;
}

.table-heading{
	background-color:#4d5f79;
	padding:9px 10px;
	font-size:14px;
	font-weight:bold;
}

.table-heading span{
color:white;
}

.list-group{
	border-radius:0;
}

.list-group-item{
	border-bottom:2px solid #ccc;
	border-top-right-radius:0!important;
	border-top-left-radius:0!important;
}

.table-view{
	margin:1px 0 0 0;
	background-color:#e0e6e5;
	font-weight:bold;
	text-transform:uppercase;
	padding:10px 13px;

}

.customer-details{
	word-wrap:break-word;

}

.customer-details .cust_name{
	color:#435E83;
}

.table-index{
	text-align:center;
	padding:3% 0 3% 0;

}

.push_div{
	height:12px;
}
.green_button_div{
padding:0;
}

.green_button_div button{
border-radius:0;
text-transform:uppercase;
}

.stickey-button{
	position: fixed;
	padding:0;
	z-index: 3;
	width: 100%;
	margin: 0;
	left: 0;

}

.schedule_stickey_button{
	bottom: 55px;
}

.delivery_checklist_button{
	bottom:0;
}

.footer-stickey {
 	position: fixed;
 	padding:0;
 	bottom: 0;
 	height:55px;
 	z-index: 3;
 	width: 100%;
 	margin: 0;
 	left: 0;
 	/*-webkit-box-shadow: 0px -3px 5px 0px rgba(219,219,219,1);
 	-moz-box-shadow: 0px -3px 5px 0px rgba(219,219,219,1);
 	box-shadow: 0px -3px 5px 0px rgba(219,219,219,1);*/
 	border-top: 1px solid #dbdbdb;
 }

 .footer-stickey .col-xs-12 {
 		display: table;
 }

 		ul.footer-sticky-nav {
 			font-size: 10px;
 			color: #111;
 			text-shadow: none;
 			overflow: auto;
 		    margin: 0;
 		    padding: 0;
 		    border: 0;
 		    border-radius: 0;
 		    display: table-row-group;
 		}

 			ul.footer-sticky-nav li.list-group-item {
 		    	background-color: #607799;
 		    	border-radius: 0;
 		    	padding: 0 5px;
 		    	display: table-cell;
 		    	border-bottom: 1px solid #eeeeee;
 		    	width: 20%;
 		    	background-image:none;
				text-shadow:none;
				background-image: none;
				border: none;
				text-shadow: none;
 		    }

 	    	ul.footer-sticky-nav li.list-group-item	.img {
 				    background-repeat: no-repeat;
 				    background-position: 50% 50%;
 				    padding: 52px 0 0;
 				    /*opacity: 0.5;
 		    		filter: alpha(opacity=50);*/
 	    		}

 	    	ul.footer-sticky-nav li.list-group-item.active {
					border: none;
					text-shadow: none;
					background-color: #fff!important;
					color: #111;
					border-bottom: 1px solid #153795;
					background-image:none;
					text-shadow:none;
					background-image: none;
					border: none;
					text-shadow: none;
					width:20%;
					}
 	    		.customer-img.active {
 					background-image: url("../img/mobile/TruckRouting App/reservationDetail-btmbar-selected.png");
 				}
 			    .payment-img.active {
 				    background-image: url("../img/mobile/TruckRouting App/reserveditems-btmbar-selected.png");
 				}
 			    .remarks-img.active {
 				    background-image: url("../img/mobile/TruckRouting App/shipping-address-btmbar-selected.png");
 				}
 				.vo_report-img.active {
 				    background-image: url("../img/mobile/TruckRouting App/contacts-btmbar-selected.png");
 				}
 			    .cancellation-img.active {
 				    background-image: url("../img/mobile/TruckRouting App/images-btmbar-selected.png");
 				}

 				.customer-img {
					background-image: url("../img/mobile/TruckRouting App/reservationDetail-btmbar-normal.png");
				}
				.payment-img {
					background-image: url("../img/mobile/TruckRouting App/reserveditems-btmbar-normal.png");
				}
				.remarks-img {
					background-image: url("../img/mobile/TruckRouting App/shipping-address-btmbar-nromal.png");
				}
				.vo_report-img {
					background-image: url("../img/mobile/TruckRouting App/contacts-btmbar-normal.png");
				}
				.cancellation-img {
					background-image: url("../img/mobile/TruckRouting App/images-btmbar-normal.png");
				}


 				.tab-text {
 		    		padding: 0 0 3px;
 		    		font-weight: bold;
 					opacity: 0.5;
 		    		filter: alpha(opacity=50);
 				}




 .reservation_details,.shipping_address,.reserved_items,.contactDetails,.image_details{
 	padding:0;
 }

 .reserved_items{
 	padding-bottom:24px;
 }

 .image_details{
 	margin-bottom:70px;
 }


 .profile-page-header-name{
 	font-size: 18px;
    border-right: 1px solid transparent;
    padding: 6px 18px 6px 5px;
    margin: 0px 1px;
 }

 .profile-icon{
 	float: left;
	width: 30px;
	padding: 1px 0px;
 }


 .profile_details{
 	padding:0;
 }

 .profile_details:last-child{
 	margin-bottom:10%;
 }

 .truck-box{
 	height:
 }

 .image_box{
 	padding:20px 38px 30px 38px;
 }

 .image_box div{
 	margin-bottom:20px;
 }

 .item_box{
 	margin-top:20px;
 }

 .single-item-row{
 	margin-bottom:20px;
 }

 .contact-row{
 	padding:20px 15px 20px 15px;
 }

 .contact-row-item{
 	margin-bottom:20px;
 }

 .contact-row-item-number{
 	line-height:30px;
 }

 .single-product-row{
 	margin-bottom:22px;
 }

 .text-row{
 	margin-top:15px;
 	/*width:292px;*/
 	height:24px;
 	box-shadow:1px 1px 6px #3b8dde;
 }

 /*.text-code{
 	width:100%;
 	height:24px;
 	box-shadow:1px 1px 6px #3b8dde;
 }*/

 .delivery_box{
 	/*border-top:1px solid #ccc;*/
 	border-bottom:1px solid #ccc;

 }

 .control-group {
 	display: inline-block;
 	width: 200px;
 	height: 210px;
 	margin: 10px;
 	padding: 30px;
 	text-align: left;
 	vertical-align: top;
 	background: #fff;
 	box-shadow: 0 1px 2px rgba(0,0,0,.1);
 }

 .control {
 	font-size: 18px;
 	position: relative;
 	/*display: block;*/
 	margin-bottom: 15px;
 	padding-left: 30px;
 	cursor: pointer;
 }

 .control input {
 	position: absolute;
 	z-index: -1;
 	opacity: 0;
 }

 .control__indicator {
 	position: absolute;
 	top: 0;
 	left: 0;
 	border-radius:4px;
 	width: 20px;
 	height: 20px;
 	background: #fff;
 	border:1px solid #ccc;
 }

 .control_indicator{
 	position: absolute;
	top: 0;
	border-radius:4px;
	width: 20px;
	height: 20px;
	background: #fff;
	border:1px solid #ccc;
 }

 .control--radio .control__indicator,.control--radio .control_indicator {
 	border-radius: 50%;
 }
 /* Hover and focus states */
 .control:hover input ~ .control__indicator,
 .control input:focus ~ .control__indicator ,
 .control:hover input ~ .control_indicator,
  .control input:focus ~ .control_indicator {
 	background: #fff;
 	border:1px solid #ccc;
 }

 /* Checked state */
 .control input:checked ~ .control__indicator,.control input:checked ~ .control_indicator {
 	background: #2ac069;
 }

 /* Hover state whilst checked */
 .control:hover input:not([disabled]):checked ~ .control__indicator,
 .control input:checked:focus ~ .control__indicator {
 	/*background: #0e647d;*/
 }

 /* Disabled state */
 .control input:disabled ~ .control__indicator, .control input:disabled ~ .control_indicator {
 	pointer-events: none;
 	opacity: .6;
 	background: #e6e6e6;
 }

 /* Check mark */
 .control__indicator:after, .control_indicator:after {
 	position: absolute;
 	display: none;
 	content: '';
 }

 /* Show check mark */
 .control input:checked ~ .control__indicator:after,
  .control input:checked ~ .control_indicator:after
  {
 	display: block;
 }

 /* Checkbox tick */
 .control--checkbox .control__indicator:after,
  .control--checkbox .control_indicator:after{
 	top: 4px;
 	left: 8px;
 	width: 3px;
 	height: 8px;
 	transform: rotate(45deg);
 	border: solid #fff;
 	border-width: 0 2px 2px 0;
 }

 /* Disabled tick colour */
 .control--checkbox input:disabled ~ .control__indicator:after,
  .control--checkbox input:disabled ~ .control_indicator:after{
 	border-color: #7b7b7b;
 }

 /* Radio button inner circle */
 .control--radio .control__indicator:after {
 	top: 7px;
 	left: 7px;
 	width: 6px;
 	height: 6px;
 	border-radius: 50%;
 	background: #fff;
 }

 /* Disabled circle colour */
 .control--radio input:disabled ~ .control__indicator:after {
 	background: #7b7b7b;
 }

.header_img{
padding-left:0;
}

.modal-img{
	margin-bottom:7%;
}

.eftpos-image{
	padding-left:136px;
}


.modal-dialog{
	margin:1%;
	width: 100%;
    height: 100%;
    padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.modal-btn{
	width:250px;
	height:45px;
	/*margin-left:35px;*/
	border-radius:2px;
	/*background-color:#607799;*/
	background: -webkit-linear-gradient(#459aff, #0a79f6);
	background: -o-linear-gradient(#459aff, #0a79f6);
	background: -moz-linear-gradient(#459aff, #0a79f6);
	background: linear-gradient(#459aff, #0a79f6);
	font-size:13px;
	font-weight:bold;
	color:white;
}

.next-btn{
	width:100px;
	margin-top:20px;
}

.modal-header{
	padding:0;
	border:none;
}

.modal_container{
	padding-bottom:20%;
}

.modal_textArea{
	margin-top:15px;
	margin-bottom:15px;
	padding-left:0;
	padding-right:0;
}

.modal_textArea textarea{
	/*width: 300px;*/
	width:100%;
	height: 96px;
	border: 1px solid #cccccc;
}

.modal_footer_button{
	text-align:center;
	position:absolute;
	bottom:0;
	left:0;
}

textarea{
	resize:none;
	/*outline:none;
	outline-style:none;*/
}


/* Support Page*/

.support_header{
	padding:17px 10px;
	line-height:11px;
	height:53px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.pending_header{
	height:80px;
}

.truck-name-box-pending{
	margin: 10px 0;
}

.truck-span{
	padding: 0px 14px;
	word-wrap:break-word;
}

.settings-header{
	padding:19px 10px;
}

.support_icon{

	float: left;
	width: 30px;
	padding: 20px 10px;

}

.support_header_name{
	float:left;

}

.support_box{
	padding-top:48px;
	padding-bottom:50px;
}

.support_text{
	font-size:12px;
	color:#666666;
	text-align:center;
	text-transform:uppercase;
}

.support_text .enconter{
	padding-bottom:20px;
}

.support-number{
	margin-top:84px;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	color:#282828;
	text-transform:uppercase;

}

.support-call-icon{
	padding-right:0;
}

.support-call-icon img{
	float:right;
}

.phone_number_parent{
	text-align:left;
}

.phone_number a{
	color:#282828;

	/*padding:2% 0 0 0;*/
}

.phone_number a:hover,.phone_number a:hover{
	color:#282828;
	text-decoration:none;
}

.delivery-code-modal-text{
	margin-top:20px;
	text-transform: uppercase;
	color: #4c4b4b;
	font-size:14px;
}

.help_text_heading{
	margin-top: 8px;
	font-weight: bold;
	font-size:14px;
	color: #282828;
	font-size: 14px;
}

.input-code-div{
	width: 249px;
	float: left;
	/* height: 45px; */
	border-radius: 2px;
	/* background-color: #607799; */
}

.input-code{
	height: 45px;
	border: 1px solid #107cf6;
	font-size: 14px;
	font-style: italic;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.code-button{
	height: 45px;
	border: 1px solid #107cf6;
	background-color: #107cf6;
	font-size: 14px;
	font-style: italic;
    color: white;
    border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.btn-icon{
	padding-right:17px;
}
.code-title{
	margin-top: 5%;
}
.modal-foot-link{
	bottom: 20px;
	position: fixed;
	left: 0;
	font-size: 11px;
	text-transform: uppercase;
}

.remarks_area{
	margin-bottom:20px;
}

.remarks_area textarea{
	width:100%;
	border:1px solid #d0d0d0;
}

.count-dropdown{
	width:100%;
	background:transparent;
	border:1px solid #ccc;
	background-image:url("../img/mobile/TruckRouting App/user_dropdown_arrow.png");
	background-repeat:no-repeat;
	background-position:95% center;
}

.textArea-block{
	margin-bottom:20px;
}

.profile-value{
	width:162px;
}

.profile-label{
	width:140px;
}


.instruction_red{
	color:red;
	margin-bottom:3%;
}

.profile-save{
	padding:6px 18px;
	margin-right:20px;
}

.status-active{
	color:#1fca3e;
}

.status-inactive{
	color:red;
}

.request-list{
	padding:10px;
	border-bottom:1px solid #e5e5e5;
}

.request-bold{
	color:#282828;
	font-weight:bold;
	font-size:12px;
	text-transform:uppercase;
	word-wrap:break-word;
}

.delivery-area-text{
	color:#282828;
	font-size:12px;
}

.tab-heading{
	background-color:#5f769a;
	color:white;
	padding:10px 10px;
	font-weight:bold;
	font-size:14px;
}

.tab-heading.active{
	color:#5f769a;
	background-color:#eff2f7;
}



.stc_btn, .my-schedule-button{
	position:fixed;
	bottom:0;
}

.pending_btn{
	height:70px;
}


.pending_btn img{
	float:left;
	margin:14px 16px;
}

.swipe-text{
        word-wrap: break-word;
        /* white-space: pre-wrap; */
        line-height: 21px;
        position: relative;
        top: 50%;
        font-size: 18px;
        color:white;
        text-transform: uppercase;
        transform: translateY(-50%);
}


.stc_btn button ,.schedule_stickey_button button{
	height:50px;
	padding:16px;
	background: #5bca1c; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #75d522 , #5bca1c); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #75d522, #5bca1c); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #75d522, #5bca1c); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #75d522 , #5bca1c); /* Standard syntax (must be last) */
}

.accept-right{
	height:70px;
	width:100%;
	padding:16px;
	background: #5bca1c; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left, #75d522 , #5bca1c); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, #75d522, #5bca1c); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, #75d522, #5bca1c); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #75d522 , #5bca1c); /* Standard syntax (must be last) */
}

.my-schedule-button button{
	height:50px;
    padding:16px;
    background:#e0e6e5;
    color:#2a5797;
    text-transform:uppercase;
    font-weight:bold;
    font-size:12px;
    outline:none;

}

.my-schedule-button button:hover,.my-schedule-button button:focus,.my-schedule-button button.focus
{
	color:#2a5797;
	outline:none;
}

.lisence-button:hover,.lisence-button:focus, .lisence-button.focus{
	color:white;
    outline:none;
    background: -webkit-linear-gradient(#459aff, #0a79f6);
	background: -o-linear-gradient(#459aff, #0a79f6);
	background: -moz-linear-gradient(#459aff, #0a79f6);
	background: linear-gradient(#459aff, #0a79f6);
}

.lisence-button{
	margin:20px auto;
	width:80%;
}

.red_btn button{
	height:50px;
	padding:16px;
	text-transform:uppercase;
	background: #f44949; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(left, #f05139 , #f44949); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, #f05139, #f44949); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, #f05139, #f44949); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, #f05139 , #f44949); /* Standard syntax (must be last) */
}

.swipe-arrow{
	padding-right:16px;
}

.schedule-accepted-box{
	background-color:#85d659;
	padding:19px 48px;
	color:#fff;
	font-weight:bold;
	font-size:14px;
	height:60px;
	box-shadow: 0px 2px 8px #000;
	background: #5bca1c; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(left, #75d522 , #5bca1c); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, #75d522, #5bca1c); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, #75d522, #5bca1c); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, #75d522 , #5bca1c); /* Standard syntax (must be last) */

}



.schedule-accepted-box span img{
	padding-right:10px;
}

.camera_section{
	/*margin-top:76px;*/
	bottom: 0;
	position: absolute;
	right: 0;
	padding-right:0;
}
.margin-26{
	margin-bottom:26px;
}

.image-area{
	margin-bottom:72px;
}

.image-area img{
	height:100px;
	width:100px;

}


.success-icon{
	/*padding-left:136px;
	*//*padding-right:117px;*//*
	margin-left:6px;*/
	height:87px;
	margin-bottom:20px;

}

.tap-close .success-icon{
		margin-top:82px;
}

.error-img{
	margin-bottom:14px;
}

.issue-resolved-text-box{
	/*margin-left:91px;*/
}

.issue-resolved-text{
	/*padding:0 0 0 76px;*/
	font-size:20px;
	font-weight:bold;
	color:#666666;
	text-transform:uppercase;
}

.issue-resolved-text:first-child{
	padding-bottom:38px;
}

.issue-resolved-btn{
	/*margin:20px 35px 83px 35px;*/
	text-align:center;
	margin:20px auto;
}

.settings-label{
	font-size:14px;
	color:#666666;

}

.settings-list{
	margin-bottom:40px;
}

.settings-link{
	/*padding:20px 15px;*/
	font-size:14px;
	color:#2a5797;
	text-transform:uppercase;
	border-bottom:1px solid #e5e5e5;
}

.link-item{
	padding: 20px 10px;
    border-top: 1px solid #e5e5e5;
}

.help_value{
	font-size:14px;
	font-weight:bold;
	color:#333333;
}

.help_label{
	font-size:12px;
	color:#333333;
}

.help-img{
	margin-bottom:40px;
}

.help_container{
	padding-left:10px;
	padding-right:10px;
	text-align:justify;
}

.help_txt{
	margin-bottom:35px;
}

.error-modal-container{
	padding-left:35px;
	padding-right:35px;
}

.or_div{
	margin:20px 0 20px 0;
}

.error-modal-container{
	padding-bottom:178px;

}

.error-modal-image{
	padding-left:117px;
}

.schedule-id-div{
	/*display:none;*/
	line-height:18px;
	text-transform:uppercase;
}

.main-text-box{
	margin-top:40px;
	font-size:18px;
	color:#282828;
	font-weight:bold;
	text-transform:uppercase;
}

.instruction-text-box{
	margin-top:20px;
	padding:0 35px 0 35px;
	color:#666666;
}

.checkbox-not-to-show{
	padding:50px 35px 35px 70px;
}

.checkbox-not-to-show span{
	padding-left: 35px;
	font-size: 14px;
	color: #666666;
}

.link-hover{
	background-color: #24385b !important;
	color: #ffffff !important;
}

.notification-dropdown{
	right:0;
	left:inherit;
	width:100%;
	margin:0;
	padding:0;
	/*padding:15px;*/
}

.notification-dropdown li{
	color:black;
	height:60px;
	/*margin-bottom:10px;*/
}

.notification-header{
	height:40px!important;
}

.see-all-li{
	background: #e0e6e5;
	color: #2a5797;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	text-align:center;
	height:49px!important;
	/*border-top: 1px dotted black;*/
}

.see-all-li a{
	color: #2a5797!important;
}

.notificationWrap.open{
	background-color:#506788;
}

.notificationWrap.open .notify-badge{
	display:none;
}

.notification-title{
	color:#506788;
}

.help-textarea{
	border:1px solid #eee;
	width:100%;
}

.error-block{
	border:1px solid red;
}
.glyphicon-chevron-right{
	color:#4d5f79;
}

.transparent-background{
	background:transparent;
}

.button-fade{
	opacity:.45;
}

/*
.image-left{
	width: 30%;
	float: left;
	margin-left: 20px;
}

.image-right{
	float: left;
	width: 30%;
}

.value-left{
    float: left;
    width: 45%;
    margin-left: 20px;
}

.value-right{
	float: left;
	width: 45%;
	margin-left: 38px;
}*/

.third-row-image,.third-row-text,.second-row-image,.second-row-text,.first-row-image{
	padding-top:5%;
}

/*.first-row-text{
	padding-top:7%;
}*/

.first-row-text{
	padding-top:12%;
}

.first-row-icon,.third-row-icon{
	padding-top:15%;
}

.item-name-display{
	word-wrap:break-word;
}
