<div class="container-fluid no-padding" ng-controller="destinationCompleteController">

    <div class="col-xs-12 tap-close" ng-click="close()">
        <div class="success-icon text-center">
            <img class="" src="img/mobile/TruckRouting App/successful-notify.png"/>
        </div>

        <div class="main-text-box text-center">
            <span class="">Destination {{currentIndex+1}} of {{totalDeliveryLength}} Completed</span>
        </div>

        <div class="instruction-text-box text-center">
            <span>Tap to close <br> and view the next destination <br> on this schedule.</span>
        </div>
    </div>

    <div class="col-xs-12 checkbox-not-to-show">
        <label class="control control--checkbox">
            <input type="checkbox" ng-model="doNotShowAgain"/>
            <div class="control_indicator"></div>
        </label>
        <span>Do not show again</span>
    </div>

</div>