<div class="container-fluid no-padding">

    <div class="col-xs-12 support_header">
        <div class="col-xs-2 profile-icon">
            <img src="img/mobile/TruckRouting App/support-menu.png" class=""/>
        </div>
        <div class="page-header-name profile-page-header-name">
            Support
        </div>
    </div>
    <div class="col-xs-12 support_body">
        <div class="col-xs-12 support_box">
            <div class="col-xs-offset-3 col-xs-6 text-center">
                <img src="img/mobile/TruckRouting App/support-title-icon.png" class=""/>
            </div>
            <div class="col-xs-3"></div>
        </div>
        <div class="col-xs-12 support_text">
                <div class="enconter">If you encounter technical difficulties </div>
            <div>Please Call</div>

            <div class="col-xs-12 support-number">
                <div class="col-xs-offset-1 col-xs-11">
                    <div class="col-xs-3 support-call-icon">
                        <img src="img/mobile/TruckRouting App/call.png" class="img-responsive">
                    </div>
                    <div class="col-xs-9 phone_number_parent">
                        <span class="phone_number"><nobr><a ng-href="tel:+91-9898989898">+91-9898989898</a></nobr></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 text-center">(Tap to call)</div>
        </div>
    </div>


</div>