<div class="config-modal">
    <div class="modal-header">
        <div class="col-xs-offset-9 col-xs-3 pull-right">
            <img src="img/mobile/TruckRouting App/close.png" ng-click="closeModal();"/>
        </div>
    </div>

    <div class="modal-body">
        <div class="">
            <div class="col-xs-12 modal-img error-img text-center" >
                <img src="img/mobile/TruckRouting App/error-alert-title-icn.png" class=""/>
            </div>
        </div>
        <div class="container-fluid bd-example-row error-modal-container">
            <div class="error-modal-container">
                <div class="col-xs-12 text-center no-padding">
                    <span>{{modalEntity}}</span>
                </div>
                <div class="col-xs-12 text-center or_div">
                    <span>OR</span>
                </div>
                <div class="col-xs-12 text-center no-padding">
                    <span>{{modalBody}}</span>
                </div>
            </div>

            <div class="col-xs-12 modal_textArea no-padding">
                <textarea rows="7" cols="30" ng-model="reason"></textarea>
            </div>

        </div>

        <!--<div class="col-xs-12 modal_textArea no-padding">-->
            <!--<textarea rows="7" cols="30"></textarea>-->
        <!--</div>-->

        <div class="col-xs-12 no-padding modal_footer_button red_btn">
            <button class="btn btn-block btn-danger" type="button" ng-swipe-right="ok('confirm')" ng-disabled="reason===null||reason===undefined"><img class="swipe-arrow" src="img/mobile/TruckRouting App/Swipearrow.png"/> Swipe right to confirm</button>
            <!--<button class="col-xs-8 col-sm-3 btn btn_font_bold createDraft" type="button" ng-click="cancel()">Continue Editing</button>-->
        </div>
    </div>
</div>